@charset "UTF-8";

a,
button {
  transition: all 0.3s;
  -webkit-appearance: none;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }

  &:focus {
    outline: none !important;
    box-shadow: none;
  }
}

.btn {
  width: auto;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 0.917rem;
  line-height: 1;
  border-radius: 40px;
  padding: 0 30px;
  text-align: center;
  white-space: nowrap;
  text-transform: uppercase;

  &.btn-white {
    border: none;
    height: 3.17rem;
    background-color: #fff;
    color: #0a0517;
    border-radius: 60px;
    box-shadow: 4px 6px #0a0517;

    svg {
      display: block;
      margin: 0 14px 0 0;
    }

    span {
      display: block;
      padding: 3px 0 0;
    }

    &:hover {
      box-shadow: none;
    }
  }

  &.btn-outlined {
    border: 3px solid #fff;
    height: 2.83rem;
    background-color: transparent;
    color: #fff;

    &:hover {
      box-shadow: 0px 0px 15px #ffffff;
    }
  }

  @include media-breakpoint-down(xxl) {
    &.btn-white,
    &.btn-outlined {
      height: 2.36rem;
      font-size: 0.85rem;
      padding: 0 0.8rem;

      svg {
        width: 24px;
        height: 24px;
      }
    }
  }

  @include media-breakpoint-down(lg) {
    font-size: 1rem;

    &.btn-white {
      height: 47px;
    }

    &.btn-outlined {
      height: 47px;
    }
  }

  @include media-breakpoint-down(md) {
    width: 100%;
  }
}

.btn-scroll {
  background: none;
  border: none;

  svg {
    display: block;

    path {
      transition: all 0.3s ease;
    }
  }

  &:hover {
    svg {
      path {
        &.btn-scroll-bg {
          fill: #f24eb6;
        }
        &.btn-scroll-arrow {
          fill: #fff;
        }
      }
    }
  }
}
