.test-progress {
  position: fixed;
  top: 14px;
  left: 11.46vw;
  right: 11.46vw;
  z-index: 9;

  @include media-breakpoint-down(xxl) {
    left: 13.2vw;
    right: 13.2vw;
  }

  @include media-breakpoint-down(xl) {
    left: 40px;
    right: 40px;
  }

  @include media-breakpoint-down(lg) {
    left: 20px;
    right: 20px;
    top: 5vh;
  }

  @include media-breakpoint-down(md) {
    top: 2vh;
  }

  .steps {
    width: 100%;
    height: 32px;
    position: relative;
    padding: 0 0 0 5%;
    display: flex;
    justify-content: space-between;
    margin: 0 0 5.3vh;

    .steps-progress {
      background-color: var(--step-start);
      width: 100%;
      height: 6px;
      border-radius: 6px;
      position: absolute;
      left: 0;
      top: 13px;

      .inner {
        width: 0;
        height: 6px;
        border-radius: 6px;
        position: absolute;
        left: 0;
        top: 0;
        background-color: var(--step);
        transition: width 0.1s linear;
      }
    }

    .step {
      display: block;
      position: absolute;
      z-index: 2;
      top: 50%;

      svg {
        display: block;
        position: relative;
        transform: translate3d(-50%, -50%, 0);
        path {
          fill: var(--step-start);
        }
      }

      &.active {
        svg {
          path {
            fill: var(--step);
          }
        }
      }

      &:nth-child(1) {
        left: 5%;
      }
      &:nth-child(2) {
        left: 24%;
      }
      &:nth-child(3) {
        left: 43%;
      }
      &:nth-child(4) {
        left: 62%;
      }
      &:nth-child(5) {
        left: 81%;
      }
      &:nth-child(6) {
        left: 100%;
      }
    }
  }

  .btn-previous {
    background: none;
    border: none;
    border-radius: 0;
    outline: none;
    box-shadow: none;
    font-family: $ff-kaisei;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    color: var(--prev);
    left: 11.2vw;
    top: 10vh;
    opacity: 0;
    z-index: 9;

    svg {
      margin-right: 30px;

      path {
        stroke: var(--prev);
      }
    }

    &.btn-previous-active {
      opacity: 1;
    }

    @include media-breakpoint-down(lg) {
      font-size: 12px;

      svg {
        width: 24px;
        height: 9px;
        margin-right: 10px;
      }
    }
  }

  @include media-breakpoint-down(xxl) {
    .steps {
      height: 24px;
      margin: 0 0 5vh;

      .steps-progress {
        height: 4px;
        top: 10px;

        .inner {
          height: 4px;
        }
      }

      .step {
        svg {
          display: block;
          width: 24px;
          height: auto;
        }
      }
    }
  }

  @include media-breakpoint-down(lg) {
    .steps {
      height: 24px;
      margin: 0 0 2vh;

      .steps-progress {
        height: 4px;
        top: 10px;

        .inner {
          height: 4px;
        }
      }

      .step {
        display: none;
      }
    }
  }
}
