.animation-wrapper {
  width: 100%;
  height: 100%;
  background-color: #4f42e5;
  color: #fff;
  position: relative;

  .elements {
    .el {
      position: absolute;
      z-index: 0;
      width: 40px;

      img {
        display: block;
        width: 100%;
        height: auto;
      }

      &.el-01 {
        left: 5.9vw;
        top: 3.5vh;
      }
      &.el-02 {
        left: 3.4vw;
        bottom: 10.6vh;
        width: 47px;
      }
      &.el-03 {
        left: 7.8vw;
        bottom: 1.8vh;
      }
      &.el-04 {
        right: 5.4vw;
        top: 36vh;
      }
      &.el-05 {
        right: 1.5vw;
        top: 61.5vh;
        width: 47px;
      }
    }
  }

  h1 {
    font-size: 5.2vw;
  }

  .headline-initial {
    @include abs;
    display: flex;
    align-items: center;
    justify-content: center;

    .elements {
      display: none;
    }
  }

  .container {
    position: relative;
    z-index: 1;

    .row {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -110px;

      .col {
        width: 50%;
        padding: 0 110px;
        position: relative;

        &:first-child,
        &:nth-child(2) {
          margin: 0 0 14vh;
        }
      }
    }
  }

  .animation-header {
    height: 23vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 0;

    h2 {
      display: none;
      opacity: 0.5;
      transform: scale(0.59);
      transform-origin: center;
      font-size: 3.125vw;
      font-weight: 700;
      line-height: 1.333;
      margin: 0;
    }

    .percent {
      font-family: $ff-playfair;
      font-size: 3.125vw;
      font-weight: 700;
      line-height: 1.333;
      letter-spacing: 0em;
    }
  }

  .box-preload {
    @include abs;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;

    .preloader {
      display: block;
      width: 30px;
      height: 30px;
      background-color: #fff;
    }

    p {
      margin: 0;
      position: absolute;
      left: 0;
      right: 0;
      bottom: -0.95em;
      font-family: $ff-playfair;
      font-size: 2vw;
      font-weight: 700;
      line-height: 2;
      letter-spacing: 0em;
      text-align: center;
      color: #cbc7f7;
      white-space: nowrap;
    }
  }

  .box {
    height: 260px;
    position: relative;
    z-index: 9;
    background-color: $white;
    border-radius: 30px;
    color: #0a0517;
    opacity: 0;

    .text {
      padding: 20px 20px 20px 57%;
      font-family: $ff-playfair;
      font-size: 1.5625vw;
      font-weight: 700;
      line-height: 1.333;
      height: 100%;
      display: flex;
      align-items: center;
      opacity: 0;
      transform: translateY(50px);

      &.text-sm {
        display: none;
      }

      p {
        margin: 0;
      }

      strong {
        display: block;
        color: #4f42e5;
      }
    }

    .image {
      position: absolute;
      left: 0;
      top: 0;

      .image-inner {
        width: 100%;
        height: 100%;
        opacity: 0;
        transform: translateY(50px);
      }

      figure {
        margin: 0;
        width: 100%;
        height: 100%;

        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .button {
      position: absolute;
      left: -30px;
      bottom: 0;
      transform: translateY(62%);
      z-index: 2;
      opacity: 0;

      .btn {
        background-color: #f83d5e;
        color: #f83d5e;
        display: inline-flex;
        align-items: center;
        padding: 0 42px;
        transform: scale(0.3);
        transform-origin: center;
      }
    }

    .els {
      opacity: 0;
      .el {
        position: absolute;
        z-index: 0;

        img {
          display: block;
          width: 100%;
          height: auto;
        }
      }
    }

    &.box-01 {
      .image {
        width: 67%;
        height: 115.38%;
        top: auto;
        bottom: 0;
        transform: translate3d(-20%, 0, 0);

        img {
          width: auto;
        }
      }

      .els {
        display: none;
      }
    }

    &.box-02 {
      .image {
        width: 56.5%;
        height: 134.6%;
        transform: translate3d(-23%, -11%, 0);

        img {
          width: auto;
        }
      }

      .text {
        padding-left: 46.5%;
      }

      .sticker {
        position: absolute;
        right: 0;
        top: 0;
        width: 170px;
        height: 170px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: $ff-playfair;
        font-size: 16px;
        font-weight: 600;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: center;
        color: $white;
        background: url(../img/bg/collab.svg) 0 0 / cover no-repeat;
        transform: translate3d(34%, -23%, 0);
        padding: 0 0 5px 15px;
        opacity: 0;

        .sticker-img {
          display: block;
          margin: 7px 0 0;

          img {
            display: block;
            max-width: 100%;
            height: auto;
          }
        }
      }

      .els {
        display: none;
      }
    }

    &.box-03,
    &.box-04 {
      .image {
        width: 54.14%;
        height: 104.5%;
        transform: translate3d(-30px, -36px, 0);

        .image-inner {
          border: 30px solid #ff99c2;
          background-color: #ff99c2;
          border-radius: 60px;
          position: relative;

          &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            border: 1px solid #ff99c2;
            transform: translate3d(-20px, -55px, 0);
            width: 128%;
            height: 134%;
            border-radius: 45px 75px 45px 45px;
          }
        }

        figure {
          background: #1d1d1d;
          border-radius: 30px;
          overflow: hidden;
        }
      }
    }

    &.box-03 {
      .els {
        .el {
          &.el-01 {
            right: 8px;
            top: 27px;
            width: 30px;
          }
          &.el-02 {
            right: 39px;
            bottom: 27px;
            width: 24px;
          }
          &.el-03,
          &.el-04 {
            display: none;
          }
        }
      }

      .image {
        figure {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        img {
          width: 80%;
          height: auto;
          margin: auto;
        }
      }
    }

    &.box-04 {
      .els {
        .el {
          &.el-01 {
            right: 21px;
            top: 57px;
            width: 30px;
          }
          &.el-02 {
            right: 56px;
            bottom: 27px;
            width: 24px;
          }
          &.el-03,
          &.el-04 {
            display: none;
          }
        }
      }

      .image {
        .image-inner {
          border-color: #949af6;
          background-color: #949af6;

          &:before {
            border-color: #949af6;
          }
        }

        figure {
          background-color: #949af6;
        }
      }
    }
  }

  @include media-breakpoint-down(xxxl) {
    .elements {
      .el {
        width: 29px;

        &.el-01 {
          left: 5.9vw;
          top: 3.5vh;
        }
        &.el-02 {
          left: 3.4vw;
          bottom: 10.6vh;
          width: 33px;
        }
        &.el-03 {
          left: 7.8vw;
          bottom: 1.8vh;
        }
        &.el-04 {
          right: 5.4vw;
          top: 36vh;
        }
        &.el-05 {
          right: 1.5vw;
          top: 61.5vh;
          width: 33px;
        }
      }
    }

    .container {
      padding: 0 11.4vw;

      .row {
        margin: 0 -80px;

        .col {
          padding: 0 80px;
        }
      }
    }

    .animation-header {
      h2,
      .percent {
        font-size: 3vw;
      }
    }

    .box-preload {
      .preloader {
        width: 20px;
        height: 20px;
      }
      p {
        font-size: 2.34vw;
      }
    }

    .box {
      height: 186px;
      border-radius: 22px;

      .text {
        font-size: 20px;
      }

      .button {
        left: -20px;
        transform: translateY(62%);

        .btn {
          height: 53px;
          font-size: 18px;
          padding: 0 48px;
        }
      }

      &.box-02 {
        .sticker {
          width: 120px;
          height: 120px;
          font-size: 12px;
          line-height: 16px;
          transform: translate3d(34%, -23%, 0);
          padding: 0 0 5px 15px;

          .sticker-img {
            display: block;
            margin: 0;
            width: 66px;
          }
        }
      }

      &.box-03,
      &.box-04 {
        .image {
          transform: translate3d(-22px, -22px, 0);

          .image-inner {
            border-width: 20px;
            border-radius: 40px;

            &:before {
              transform: translate3d(-13px, -38px, 0);
              width: 126%;
              border-radius: 30px 55px 30px 30px;
            }
          }

          figure {
            border-radius: 20px;
          }
        }
      }

      &.box-03 {
        .els {
          .el {
            &.el-01 {
              right: 6px;
              top: 22px;
              width: 21px;
            }
            &.el-02 {
              right: 27px;
              bottom: 18px;
              width: 17px;
            }
          }
        }
      }

      &.box-04 {
        .els {
          .el {
            &.el-01 {
              right: 17px;
              top: 40px;
              width: 21px;
            }
            &.el-02 {
              right: 42px;
              bottom: 18px;
              width: 17px;
            }
          }
        }
      }
    }
  }

  @include media-breakpoint-down(xl) {
    .container {
      padding: 0 80px;

      .row {
        margin: 0 -40px;

        .col {
          padding: 0 40px;
        }
      }
    }

    .box {
      &.box-01 {
        .image {
          width: 70%;
          height: 105%;
        }
      }
    }
  }

  @include media-breakpoint-down(lg) {
    background-color: #7f53e9;
    overflow: auto;

    & > .elements {
      display: none;
    }

    .container {
      padding: 0 20px;
      .row {
        flex-direction: column;
        flex-wrap: nowrap;
        margin: 0;
        align-items: center;

        .col {
          width: 450px;
          padding: 0;
          margin: 0 0 100px !important;
        }
      }
    }

    .headline-initial {
      height: 100vh;

      .elements {
        display: block;
        .el {
          width: 40px;

          &.el-01 {
            left: 20px;
            top: 50px;
          }
          &.el-02 {
            left: auto;
            right: 20px;
            top: 150px;
          }
          &.el-03 {
            right: 40px;
            bottom: 50px;
            width: 47px;
          }
        }
      }
    }
  }

  @include media-breakpoint-down(md) {
    .container {
      .row {
        .col {
          width: 295px;
          margin: 0 0 82px !important;
        }
      }
    }

    h1 {
      font-size: 38px;
      line-height: 47.5px;
    }

    .headline-initial {
      padding: 0 20px;
      text-align: center;
    }

    .animation-header {
      height: 112px;

      h2 {
        font-size: 24px;
        line-height: 32px;
      }

      .percent {
        font-size: 24px;
        line-height: 32px;
      }
    }

    .box-preload {
      .preloader {
        width: 10px;
        height: 10px;
      }

      p {
        font-size: 16px;
      }
    }

    .box {
      height: 328px;
      border-radius: 22px;

      .text {
        padding: 23px 30px 0;
        font-size: 24px;
        line-height: 32px;
        height: auto;
        display: block;
        text-align: center;

        &.text-sm {
          display: block;
        }

        &.text-md {
          display: none;
        }
      }

      .image {
        position: static;
      }

      .button {
        left: 0;
        top: 100%;
        transform: translateY(-10px);
        width: 100%;

        .btn {
          width: 100%;
          height: 48px;
          font-size: 16px;
          padding: 0;
          text-align: center;
        }
      }

      .els {
        opacity: 0;
        .el {
          position: absolute;
          z-index: 0;

          img {
            display: block;
            width: 100%;
            height: auto;
          }
        }
      }

      &.box-01 {
        .image {
          width: auto;
          height: auto;
          transform: none;
          margin: 0 -40px;

          img {
            width: 100%;
          }
        }

        .text {
          margin-bottom: 10px;
          strong {
            display: inline;
          }
        }

        .els {
          display: block;

          .el {
            &.el-01 {
              width: 28px;
              left: 11px;
              top: 44px;
            }
            &.el-02 {
              width: 20px;
              left: 25px;
              top: 100px;
            }
            &.el-03 {
              width: 20px;
              right: 13px;
              top: 72px;
            }
            &.el-04 {
              width: 28px;
              right: 96px;
              bottom: 20px;
            }
          }
        }
      }

      &.box-02 {
        .image {
          width: auto;
          height: auto;
          transform: none;
          margin: 0 0 0 -40px;

          img {
            width: 100%;
          }
        }

        .text {
          padding-left: 30px;
          strong {
            display: inline;
          }
        }

        .sticker {
          background-image: url(../img/bg/collab1.svg);
          width: 100px;
          height: 100px;
          font-size: 10px;
          line-height: 11px;
          padding: 0 0 5px 10px;
          top: 185px;
          right: -20px;
          transform: none;

          .sticker-img {
            margin: 4px 0 0;
            width: 55px;
          }
        }

        .els {
          display: block;

          .el {
            &.el-01 {
              width: 28px;
              left: 16px;
              top: 15px;
            }
            &.el-02 {
              width: 20px;
              left: 8px;
              top: 70px;
            }
            &.el-03 {
              width: 20px;
              right: 25px;
              top: 87px;
            }
            &.el-04 {
              width: 15px;
              left: 22px;
              bottom: 17px;
            }
          }
        }
      }

      &.box-03 {
        .els {
          .el {
            &.el-01 {
              width: 28px;
              left: 12px;
              top: 63px;
            }
            &.el-02 {
              width: 20px;
              left: 52px;
              top: 112px;
            }
            &.el-03 {
              display: block;
              width: 20px;
              right: 23px;
              top: 15px;
            }
            &.el-04 {
              display: block;
              width: 28px;
              right: 25px;
              top: 66px;
            }
          }
        }

        .text {
          margin: 0 0 25px;
        }

        .image {
          width: 100%;
          height: auto;
          transform: none;

          .image-inner {
            border: none;
            background-color: transparent;
            border-radius: 0;
            position: relative;
            padding: 0 14px;

            &:before {
              display: none;
            }
          }

          figure {
            background: none;
            border-radius: 0;
            overflow: visible;
            display: block;
          }

          img {
            width: 100%;
          }
        }
      }

      &.box-04 {
        .els {
          .el {
            &.el-01 {
              width: 28px;
              left: 12px;
              top: 28px;
            }
            &.el-02 {
              width: 20px;
              left: 31px;
              top: 85px;
            }
            &.el-03 {
              display: block;
              width: 20px;
              right: 15px;
              top: 72px;
            }
            &.el-04 {
              display: block;
              width: 28px;
              right: 35px;
              top: 113px;
            }
          }
        }

        .text {
          margin: 0 0 24px;
        }

        .image {
          width: 100%;
          height: auto;
          transform: none;
          padding: 0 21px 0 32px;

          .image-inner {
            border-width: 21px;
            border-radius: 40px;

            &:before {
              transform: translate3d(-13px, -38px, 0);
              width: 255px;
              height: 202px;
              border-radius: 45px 75px 45px 45px;
            }
          }

          figure {
            border-radius: 20px;
          }
        }
      }
    }
  }
}
