.block-boxes {
  background-color: #e4e1ff;
  width: 100%;
  min-height: 100vh;
  padding: 46px 20px;

  .container {
    padding: 0;
    max-width: 1382px;
    margin: auto;
  }

  h2 {
    color: $black;
    margin: 0 0 30px;
    font-size: 38px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
  }

  .wrapper {
    display: flex;
    align-items: flex-start;
    margin: 0 -24px;

    .box-1 {
      --box-color: #4f42e5;
    }

    .box-2 {
      --box-color: #f24ea7;
    }

    .box {
      margin: 0 24px;
      width: 645px;
      border: 3px solid var(--box-color);
      border-radius: 48px;
      background-color: $white;
      display: flex;
      flex-direction: column;
      padding: 5px 0 56px;
      position: relative;
      font-family: $ff-notosans;
      font-size: 18px;
      font-weight: 600;
      line-height: 24.52px;
      color: var(--box-color);

      .text-sticker {
        background-color: var(--box-color);
        height: 43px;
        position: absolute;
        top: 45px;
        right: -2px;
        padding: 8px 28px 8px 30px;
        border-radius: 30px 0px 0px 30px;
        font-size: 24px;
        font-weight: 900;
        line-height: 1;
        color: #fff;
        text-transform: uppercase;
      }

      .box-sticker {
        position: absolute;
        top: -48px;
        right: -97px;
        background: url(../img/box-sticker.png) 0 0 / cover no-repeat;
        width: 170px;
        height: 170px;
        font-size: 40px;
        font-weight: 900;
        line-height: 50px;
        text-align: center;
        line-height: 160px;
        color: $white;
        padding: 0 0 0 8px;
      }

      figure {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 524px;
        margin: 0;

        img {
          display: block;
          width: auto;
          height: 100%;
          margin: auto;
          border-radius: 40px 40px 0 0;
        }
      }

      .text {
        padding: 0 36px;
        position: relative;

        h3 {
          color: #0a0517;
          font-family: $ff-notosans;
          font-size: 44px;
          font-weight: 700;
          line-height: 60px;
          margin: 0 0 10px;
          text-align: center;
        }

        .price {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 44px;
          font-weight: 700;
          line-height: 35.2px;
          text-align: center;
          color: #0a0517;
          margin: 0 0 26px;

          img {
            display: block;
            width: 32px;
            height: 32px;
            flex: 0 0 auto;
            margin: 0 8px 0 0;
          }

          span {
            text-decoration: line-through;
            color: #aaaaaa;
            font-size: 28px;
            margin: 0 10px 0 0;
          }
        }

        .btn {
          background-color: var(--box-color);
          color: $white;
          height: 76px;
          font-size: 28px;
          font-weight: 600;
          line-height: 1;
          text-align: left;
          font-family: $ff-notosans;
          box-shadow: none;
          margin: 0 auto;
          display: block;
          width: 431px;

          &:hover {
            transform: none;
          }

          .btn-main {
            padding: 0 2em;

            svg {
              margin-right: 7px;
              width: 36px;
            }
          }
        }

        p {
          font-family: $ff-notosans;
          font-weight: 300;
          color: $black;
          text-align: center;
          font-size: 24px;
          margin: 55px 0 30px;
        }

        ul {
          margin: 0;
          padding: 0 0 0 30px;
          font-size: 24px;
          line-height: 33px;

          li {
            margin: 0 0 9px;
          }
        }
      }
    }
  }

  .boxes-note {
    font-family: $ff-notosans;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    color: #4f42e5;
    padding: 26px 0 0;

    br {
      display: none;
    }
  }

  @include media-breakpoint-down(xxl) {
    padding: 40px 20px;

    .container {
      max-width: 1124px;
    }

    h2 {
      margin: 0 0 40px;
      font-size: 38px;
      line-height: 51px;
    }

    .wrapper {
      margin: 0 -20px;

      .box {
        margin: 0 20px;
        width: 522px;
        border-radius: 40px;
        padding: 5px 21px 30px;
        font-size: 14px;
        line-height: 19px;

        .text-sticker {
          top: 37px;
          padding: 8px 24px 8px 26px;
        }

        .box-sticker {
          top: -48px;
          right: -97px;
        }

        figure {
          height: 340px;
          margin: 0 0 6px;
        }

        .text {
          padding: 0 6px;
          .text-sticker {
            height: 31px;
            top: 200px;
            right: 0;
            padding: 8px 24px;
            font-size: 12px;
            line-height: 15px;
          }

          h3 {
            font-size: 38px;
            line-height: 52px;
            margin: 0 0 4px;
          }

          .price {
            font-size: 38px;
            line-height: 42px;
            margin: 0 0 15px;

            img {
              width: 28px;
              height: 28px;
              margin: 0 8px 0 0;
            }

            span {
              margin: 0 10px 0 0;
            }
          }

          .btn {
            height: 72px;
            width: 430px;
          }

          p {
            margin: 46px 0 31px;
          }

          ul {
            padding: 0 0 0 21px;
            margin-right: -10px;

            li {
              margin: 0 0 7.5px;
            }
          }
        }
      }
    }
  }

  @include media-breakpoint-down(xl) {
    .container {
      max-width: 900px;
    }

    .wrapper {
      .box {
        width: 430px;
        border-radius: 30px;
        padding: 5px 0 12px;
        font-size: 12px;
        line-height: 16.34px;

        .text-sticker {
          height: 31px;
          top: 47px;
          padding: 8px 15px 8px 14px;
          font-size: 16px;
        }

        .box-sticker {
          top: -42px;
          right: -20px;
          width: 106px;
          height: 106px;
          font-size: 25px;
          line-height: 96px;
        }

        figure {
          height: 240px;
          margin: 0 0 13px;
        }

        .text {
          padding: 0 17px;

          h3 {
            font-size: 24px;
            line-height: 33px;
            font-weight: 700;
            margin: 0 0 4px;
          }

          .price {
            font-size: 24px;
            line-height: 30px;
            margin: 0 0 12px;

            img {
              width: 20px;
              height: 20px;
              margin: 0 8px 0 0;
            }

            span {
              font-size: 20px;
              margin: 0 10px 0 0;
            }
          }

          p {
            font-size: 12px;
            line-height: 16px;
            margin: 24px 0 12px;
          }

          ul {
            padding: 0 0 0 18px;
            font-size: 12px;
            line-height: 16.34px;
            margin: 0;

            li {
              margin: 0 0 5px;
            }
          }

          .btn {
            height: 48px;
            font-size: 16px;
            margin: 0;
            width: 100%;

            .btn-main {
              padding: 0;

              svg {
                width: 28px;
              }
            }
          }
        }
      }
    }
  }

  @include media-breakpoint-down(lg) {
    padding: 40px 20px;

    .container {
      max-width: none;
    }

    h2 {
      margin: 0 0 24px;
      font-size: 32px;
      line-height: 43px;
    }

    .wrapper {
      margin: 0;
      flex-direction: column;

      .box {
        margin: 0 auto 40px;
        width: 100%;
        max-width: 364px;
        border-radius: 30px;
        padding: 5px 0 12px;
        font-size: 12px;
        line-height: 16.34px;

        figure {
          img {
            margin: 0 auto 0 0;
          }
        }
      }
    }

    .boxes-note {
      padding: 0;

      br {
        display: block;
      }
    }
  }
}
