.four-steps-wrapper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  padding: 0;
  background-color: #652feb;

  .btn-previous {
    background: none;
    border: none;
    border-radius: 0;
    outline: none;
    box-shadow: none;
    font-family: $ff-kaisei;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    left: 11.2vw;
    top: 10vh;
    opacity: 0;
    z-index: 9;

    &:not(.btn-previous-active) {
      pointer-events: none;
    }

    img {
      margin-right: 30px;
    }
  }

  @include media-breakpoint-down(xxl) {
    .btn-previous {
      left: 6vw;
    }
  }

  @include media-breakpoint-down(xl) {
    .btn-previous {
      left: 40px;
    }
  }

  @include media-breakpoint-down(lg) {
    .btn-previous {
      left: 20px;
    }
  }

  @include media-breakpoint-up(xxxl) {
    .container {
      max-width: none;
      padding-left: 11.46vw;
      padding-right: 11.46vw;
    }
  }
}

.four-steps-screen {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  transform: translateY(100%);
  padding: 20.4vh 0 0;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  h3 {
    margin: 0 0 0.625em;
    display: flex;

    span {
      display: block;
      padding: 0 33px;
      margin: 0 7px;
      position: relative;

      &:before {
        content: "";
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        width: 100%;
        height: 72px;
        border: 2px solid #ffffff;
        border-radius: 40px;
        transform: translate3d(-50%, -40%, 0);
      }
    }
  }

  p {
    margin: 0;
    font-size: 0.833rem;
  }

  @include media-breakpoint-down(lg) {
    padding-top: 12vh;

    .elements {
      display: none;
    }

    h3 {
      margin: 0 0 10px;
      display: block;

      span {
        display: inline;
        padding: 0;
        margin: 0;

        &:before {
          display: none;
        }
      }
    }

    p {
      font-size: 0.75rem;
    }
  }
}

.four-steps-relations {
  transform: none;

  .elements {
    .el {
      position: absolute;
      z-index: 2;

      img {
        display: block;
        height: auto;
      }

      &.el-01 {
        left: 3.8vw;
        top: 17.4vh;

        img {
          width: 35px;
        }
      }
      &.el-02 {
        left: 7.5vw;
        bottom: 18vh;
      }
      &.el-03 {
        left: 33.9vw;
        bottom: 7.2vh;
      }
      &.el-04 {
        right: 5.6vw;
        top: 13.4vh;
      }

      &.el-05 {
        right: 2.8vw;
        bottom: 11.5vh;

        img {
          width: 35px;
        }
      }
    }
  }

  .container {
    .row {
      display: flex;
      margin: 0 -20px;
      row-gap: 20px;

      .col {
        width: 50%;
        padding: 0 20px;

        &:last-child {
          display: flex;
          justify-content: flex-end;
        }
      }
    }
  }

  ul {
    margin: 0;
    padding: 10px 0 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 17px;

    li {
      text-align: center;

      label {
        cursor: pointer;

        input {
          display: none;

          &:checked {
            & + span {
              background-color: #cbc7f7;
            }
          }
        }

        span {
          display: inline-flex;
          align-items: center;
          text-align: center;
          padding: 17px 37px;
          background: #ffffff;
          border: 3px solid #0a0517;
          border-radius: 80px;
          font-weight: 500;
          font-size: 1.333rem;
          line-height: 1.25;
          color: #0a0517;
          text-decoration: none;
          transition: all 0.3s ease;
        }

        &:hover {
          span {
            background-color: #cbc7f7;
          }
        }
      }
    }
  }

  @include media-breakpoint-down(xxl) {
    .elements {
      .el {
        &.el-01 {
          left: 7.7vw;
          top: 19vh;
          img {
            width: 24px;
          }
        }
        &.el-02 {
          left: 11vw;
          img {
            width: 46px;
          }
        }
        &.el-03 {
          left: 35.5vw;
          img {
            width: 46px;
          }
        }
        &.el-04 {
          right: 8vw;
          top: 15vh;
          img {
            width: 46px;
          }
        }

        &.el-05 {
          right: 5.4vw;
          bottom: 13vh;

          img {
            width: 24px;
          }
        }
      }
    }
    ul {
      row-gap: 10px;
      li {
        label {
          span {
            font-size: 0.944rem;
            padding: 0.55em 0.9em;
          }
        }
      }
    }
  }

  @include media-breakpoint-down(lg) {
    .container {
      .row {
        flex-direction: column;

        .col {
          width: 100%;

          &:last-child {
            justify-content: center;
          }
        }
      }
    }

    ul {
      row-gap: 14px;

      li {
        label {
          span {
            border-width: 2px;
            padding: 10px 15px;
            font-size: 1rem;
          }
        }
      }
    }
  }
}

.four-steps-age {
  padding: 0;
  overflow: hidden;

  .elements {
    .el {
      position: absolute;
      z-index: 2;

      img {
        display: block;
        height: auto;
      }

      &.el-02,
      &.el-03,
      &.el-06 {
        img {
          width: 35px;
        }
      }

      &.el-01 {
        left: 4.8vw;
        top: 29vh;
      }
      &.el-02 {
        left: 24.3vw;
        top: 50vh;
      }
      &.el-03 {
        left: 41.1vw;
        top: 32vh;
      }
      &.el-04 {
        right: 13.3vw;
        top: 23.6vh;
      }

      &.el-05 {
        left: 42.1vw;
        top: 70.3vh;
      }

      &.el-06 {
        right: 19.3vw;
        top: 81.3vh;
      }
    }
  }

  .col-text {
    position: absolute;
    left: 11.46vw;
    top: 200px;
  }

  .container {
    height: 100%;
    overflow: auto;
    padding-top: 20.4vh;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    .row {
      display: flex;
      justify-content: flex-end;
      margin: 0 -20px;
      row-gap: 20px;

      .col {
        padding: 0 20px;
        width: 53%;
      }
    }
  }

  ul {
    margin: 0;
    padding: 13vh 0 40vh;
    list-style: none;
    li {
      position: relative;
      margin-bottom: 0;

      p {
        font-weight: 500;
        font-size: 1rem;
        text-transform: uppercase;
        color: #fff;
        position: absolute;
        left: 18rem;
        top: 52%;
        opacity: 0;
        transition: all 0.4s ease;
      }

      label {
        display: block;
        width: 15rem;
        cursor: pointer;
        transform: scale(0.5);
        transform-origin: center;
        opacity: 0;
        pointer-events: none;
        position: relative;
        z-index: 99;

        input {
          display: none;

          &:checked {
            & + span {
              color: #652feb;
              &:before {
                opacity: 1;
              }
            }
          }
        }

        & > span {
          display: inline-block;
          text-align: center;
          padding: 0 3.7rem;
          font-family: $ff-kaisei;
          font-weight: 700;
          font-size: 7.5rem;
          line-height: 1.2;
          color: #fff;
          position: relative;

          &:before {
            content: "";
            display: block;
            position: absolute;
            left: 50%;
            top: 50%;
            width: 100%;
            height: 100%;
            background-color: #ffffff;
            border-radius: 200px;
            transform: translate3d(-50%, -42%, 0);
            opacity: 0;
          }

          span {
            position: relative;
            z-index: 1;
          }
        }
      }

      &.active {
        p {
          opacity: 1;
        }
        label {
          pointer-events: all;

          & > span {
            color: #652feb;
            &:before {
              opacity: 1;
            }
          }
        }
      }
    }
  }

  @include media-breakpoint-down(lg) {
    padding-top: 0;

    .col-text {
      left: 0;
      top: calc(4vh + 62px);
      padding-left: 20px;
      transform: translateX(100vw);
    }

    .col-list {
      display: flex;
      justify-content: center;
      width: 100%;
      overflow: hidden;
    }

    .container {
      padding-top: 0;

      .row {
        flex-direction: column;
        row-gap: 0;

        .col {
          width: 100%;
        }
      }
    }

    ul {
      padding-top: 25vh;

      li {
        p {
          display: none;
        }

        label {
          width: 218px;
          transform: scale(0.5);

          & > span {
            width: 100%;
            padding: 0;
            font-size: 7.5rem;
            line-height: 1.2;

            &:before {
              width: 120%;
            }
          }
        }
      }
    }
  }
}

.four-steps-gender {
  overflow: hidden;

  .elements {
    .el {
      position: absolute;
      z-index: 2;

      img {
        display: block;
        height: auto;
      }

      &.el-02,
      &.el-04,
      &.el-06 {
        img {
          width: 35px;
        }
      }

      &.el-01 {
        left: 3vw;
        top: 13.7vh;
      }
      &.el-02 {
        left: 57.2vw;
        top: 18.9vh;
      }
      &.el-03 {
        right: 8.4vw;
        top: 17.1vh;
      }
      &.el-04 {
        left: 37.3vw;
        top: 86vh;
      }

      &.el-05 {
        right: 32vw;
        top: 72.4vh;
      }

      &.el-06 {
        right: 8.4vw;
        top: 81.6vh;
      }
    }
  }

  .text {
    margin: 0 0 56px;
  }

  ul {
    padding: 0;
    list-style: none;
    display: flex;
    margin: 0 -40px;

    li {
      padding: 0 40px;
      width: 100%;

      label {
        display: block;
        cursor: pointer;
        position: relative;
        z-index: 9;

        input {
          display: none;

          &:checked {
            & + span {
              figure {
                border-radius: 200px;
              }
            }
          }
        }

        span {
          display: block;
          text-align: center;
          font-family: $ff-kaisei;
          font-weight: 700;
          font-size: 28px;
          line-height: 1.5;

          figure {
            margin: 0 0 4px;
            padding: 15px 0 0;
            display: flex;
            background: #ffffff;
            border: 3px solid #1d1d1b;
            border-radius: 40px;
            height: 28.57vh;
            align-items: flex-end;
            justify-content: center;
            overflow: hidden;
            transition: all 0.3s;
          }

          img {
            display: block;
            max-width: 100%;
            max-height: 100%;
            width: auto;
            height: auto;
          }
        }

        &:hover {
          span {
            figure {
              border-radius: 200px;
            }
          }
        }
      }

      &:nth-child(2) {
        label {
          span {
            figure {
              padding: 15px;
              align-items: center;
            }
          }
        }
      }
    }
  }

  @include media-breakpoint-down(xl) {
    ul {
      margin: 0 -20px;

      li {
        padding: 0 20px;
      }
    }
  }

  @include media-breakpoint-down(lg) {
    .text {
      transform: translateX(100vw);
      margin: 0 0 22px;
    }

    ul {
      flex-direction: column;
      row-gap: 8px;

      li {
        transform: translateX(100vw);

        label {
          span {
            font-size: 18px;
            figure {
              height: 18.5vh;
              margin: 0 0 -4px;
            }
          }
        }
      }
    }
  }

  @include media-breakpoint-down(md) {
    ul {
      flex-direction: column;
      row-gap: 12px;

      li {
        transform: translateX(100vw);

        label {
          input {
            &:checked + span {
              position: relative;
              &:before {
                content: "";
                background: url(../img/bg/bg-4-selected.svg) 50% no-repeat;
                @include abs-center;
                width: 375px;
                height: 500px;
              }
              figure,
              .label-text {
                position: relative;
                z-index: 2;
              }
            }
          }
        }
      }
    }
  }
}

.four-steps-orientation {
  overflow: hidden;

  .elements {
    .el {
      position: absolute;
      z-index: 2;

      img {
        display: block;
        height: auto;
      }

      &.el-04,
      &.el-05 {
        img {
          width: 35px;
        }
      }

      &.el-01 {
        left: 4.8vw;
        top: 29vh;
      }
      &.el-02 {
        right: 25vw;
        top: 43.3vh;
      }
      &.el-03 {
        right: 4.4vw;
        top: 9.3vh;
      }
      &.el-04 {
        left: 34.6vw;
        top: 84.9vh;
      }

      &.el-05 {
        right: 16.8vw;
        top: 71.7vh;
      }
    }
  }

  .text {
    margin: 0 0 56px;
  }

  ul {
    padding: 0;
    list-style: none;
    display: flex;
    margin: 0 -40px;

    li {
      padding: 0 40px;
      width: 33.3333%;

      label {
        display: block;
        cursor: pointer;
        position: relative;
        z-index: 9;

        input {
          display: none;

          &:checked {
            & + span {
              figure {
                border-radius: 200px;
              }
            }
          }
        }

        span {
          display: block;
          text-align: center;
          font-family: $ff-kaisei;
          font-weight: 700;
          font-size: 28px;
          line-height: 1.5;

          figure {
            margin: 0 0 4px;
            display: flex;
            background: #ffffff;
            border: 3px solid #1d1d1b;
            border-radius: 40px;
            height: 28.57vh;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            transition: all 0.3s;
          }

          img {
            display: block;
            max-width: 100%;
            height: auto;
          }
        }

        &:hover {
          span {
            figure {
              border-radius: 200px;
            }
          }
        }
      }
    }
  }

  @include media-breakpoint-down(xl) {
    ul {
      margin: 0 -20px;

      li {
        padding: 0 20px;
        width: 50%;
      }
    }
  }

  @include media-breakpoint-down(lg) {
    .text {
      transform: translateX(100vw);
      margin: 0 0 30px;
    }

    ul {
      flex-direction: column;
      row-gap: 12px;

      li {
        transform: translateX(100vw);
        width: 100%;

        label {
          span {
            font-size: 18px;
            figure {
              height: 22.17vh;

              img {
                max-height: 80%;
                width: auto;
              }
            }
          }
        }
      }
    }
  }

  @include media-breakpoint-down(md) {
    ul {
      li {
        label {
          input {
            &:checked + span {
              position: relative;
              &:before {
                content: "";
                background: url(../img/bg/bg-4-selected.svg) 50% no-repeat;
                @include abs-center;
                width: 375px;
                height: 500px;
              }
              figure,
              .label-text {
                position: relative;
                z-index: 2;
              }
            }
          }
        }
      }
    }
  }
}

.less-height {
  @include media-breakpoint-down(md) {
    .four-steps-gender ul li label span figure {
      height: 16vh;
    }
  }
}
