.landing-01 {
  background: #f83d5e url(../img/landing/bg-01.svg) 0 0 / cover no-repeat;
  position: relative;
  font-family: $ff-playfair;
  height: 100vh !important;
  z-index: 999;
  --logo1: 0deg;
  --logo2: 0deg;

  .container {
    padding-bottom: 27vh;
  }

  .elements {
    .el {
      position: absolute;
      z-index: 2;

      img {
        display: block;
        width: 100%;
        height: auto;
      }

      &.el-01 {
        left: 20vw;
        top: 14vh;
        width: 49px;
      }
      &.el-02 {
        top: 12.5vh;
        width: 212px;
        right: 6.1vw;
      }
      &.el-03 {
        left: 30vw;
        bottom: 11.7vh;
        width: 102px;
      }
    }
  }

  .img-left {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-54.3%);
    width: 18.5vw;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  .img-bottom {
    position: absolute;
    right: 5.9vw;
    bottom: 3rem;
    width: 584px;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  .text-line {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9;
    font-weight: 400;
    font-family: $ff-notosans;
    text-transform: uppercase;
  }

  .headline {
    text-align: center;
  }

  h1 {
    font-family: inherit;
    font-size: 5.2vw;
    color: #fff;
    margin: 17px 0 2px;
    opacity: 0;
    transform: translateY(-50%);
  }
  h2 {
    font-family: inherit;
    font-size: 3.65vw;
    color: #fff;
    margin: 0;
    letter-spacing: 0;
    line-height: 1.15;
    opacity: 0;
    transform: translateY(-50%);

    &:last-child {
      display: block;
      color: #1f0e36;
    }

    br {
      display: none;
    }
  }

  .landing-logo {
    opacity: 0;
  }

  @include media-breakpoint-up(lg) {
    .landing-logo {
      .logo-part1,
      .logo-part2 {
        transform-origin: center;
        transition: all 0.5s ease-in-out;
      }
      &:hover {
        .logo-part1 {
          transform: rotate(var(--logo1));
        }
        .logo-part2 {
          transform: rotate(var(--logo2));
        }
      }
    }
  }

  @include media-breakpoint-down(xxl) {
    overflow: hidden;

    .elements {
      .el {
        &.el-01 {
          left: 19vw;
          top: 11.5vh;
        }
        &.el-02 {
          top: 13.8vh;
          width: 150px;
          right: 6.5vw;
        }
        &.el-03 {
          left: 19vw;
          bottom: 16.5vh;
        }
      }
    }

    .container {
      padding-bottom: 29vh;
    }

    .landing-logo {
      img {
        display: inline-block;
        width: 120px;
        height: auto;
      }
    }

    h2 {
      font-size: 3.1vw;
      line-height: 1.33;
    }

    .img-left {
      transform: translateY(-44.3%);
      width: 19.5vw;
    }

    .img-bottom {
      bottom: -3rem;
    }

    .text-line {
      padding: 9px 0;
    }
  }

  @include media-breakpoint-down(lg) {
    background-image: url(../img/landing/bg-01-m.png);
    height: auto !important;
    min-height: 0 !important;

    .elements {
      .el {
        &.el-01 {
          left: -13px;
          top: 48px;
          width: 33px;
        }
        &.el-02 {
          top: 38px;
          width: 90px;
          right: -47px;
        }
        &.el-03 {
          display: none;
        }
      }
    }

    .container {
      padding-bottom: 0;
    }

    .landing-logo {
      img {
        width: 100px;
      }
    }

    .img-left {
      display: none;
    }

    .img-bottom {
      position: static;
      width: auto;
      display: flex;
      justify-content: center;
      // transform: translateX(-20%);

      img {
        width: 293px;
      }
    }

    .headline {
      padding: 42px 0 22px;
    }

    h1 {
      font-size: 68px;
      margin: 0 0 13px;
    }
    h2 {
      font-size: 32px;
      line-height: 1.33;
    }
  }

  @include media-breakpoint-down(md) {
    h2 {
      br {
        display: block;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    .img-bottom {
      justify-content: flex-end;
      transform: translateX(17px);
    }

    .text-line {
      font-size: 12px;
      padding: 6px 0;
    }
  }
}

.btn-fixed-mobile {
  position: fixed;
  z-index: 9999;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 16px;

  @include media-breakpoint-up(md) {
    display: none;
  }
}
