.landing-11 {
  background-color: #f83d5e;
  position: relative;

  .wrapper {
    padding: 80px 0;
    color: #fff;
  }

  .text {
    width: 65%;
    padding: 0 0 0 90px;
    position: relative;

    &:before {
      content: "";
      width: 54px;
      height: 54px;
      position: absolute;
      left: 0;
      top: 0.4em;
      background: url(../img/landing/star.svg) 0 0 / cover no-repeat;
    }
  }

  h2 {
    font-family: $ff-playfair;
    font-weight: 700;
    font-size: 3.125vw;
    line-height: 100%;
    color: #fff;
    margin: 0 0 30px;
  }

  .subtitle {
    font-family: $ff-notosans;
    font-weight: 300;
    font-size: 30px;
    line-height: 140%;
    text-transform: uppercase;
  }

  .buttons {
    display: flex;
    padding: 70px 0 0;

    .btn {
      color: #0a0517;
      min-width: 230px;

      svg {
        path {
          fill: #ffc821;
        }
      }

      & + .btn {
        margin: 0 0 0 35px;
        padding: 0 38px;

        svg {
          path {
            fill: #f83d5e;
          }
        }
      }
    }
  }

  .image {
    position: absolute;
    right: 4.7vw;
    bottom: -10px;
    width: 20.2vw;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  @include media-breakpoint-down(xxl) {
    .container {
      padding: 0 9vw;
    }

    .wrapper {
      padding: 65px 0;
    }

    .text {
      width: 50%;
      padding: 0 0 0 80px;
    }

    .image {
      right: 8vw;
      width: 23.2vw;
    }

    .subtitle {
      font-size: 24px;
      line-height: 30px;
    }

    .buttons {
      padding: 50px 0 0;

      .btn {
        width: auto;
        min-width: 0;
        padding: 0 10px;

        & + .btn {
          padding: 0 10px;
        }
      }
    }
  }

  @include media-breakpoint-down(lg) {
    height: auto;
    min-height: 0 !important;
    padding: 40px 0 14px;

    .container {
      padding: 0 20px;
    }

    .wrapper {
      padding: 0;
    }

    .text {
      width: 100%;
      padding: 0 0 0 44px;

      &:before {
        width: 30px;
        height: 30px;
        top: 0.8em;
      }
    }

    h2 {
      font-size: 38px;
      line-height: 125%;
      margin: 0 0 16px;
    }

    .subtitle {
      font-size: 16px;
      line-height: 125%;
    }

    .buttons {
      padding: 40px 0 0;
      margin: 0 0 65px;

      .btn {
        width: 100%;
        max-width: 290px;
      }
    }

    .image {
      position: relative;
      left: 50%;
      right: auto;
      bottom: 0;
      width: 194px;
      transform: translateX(-10%);
    }
  }

  @include media-breakpoint-down(md) {
    .buttons {
      flex-direction: column;
      align-items: center;
      padding: 40px 0 0;
      margin: 0 0 65px;

      .btn {
        & + .btn {
          margin: 20px 0 0;
          padding: 0 15px;
        }
      }
    }
  }
}
