.landing-04 {
  background: #7f53e9 radial-gradient(54.13% 72.1% at 57.38% 88.25%, #693be2 0%, rgba(101, 47, 235, 0) 97.5%);
  font-family: $ff-playfair;
  color: #fff;
  position: relative;

  .elements {
    .el {
      position: absolute;
      z-index: 2;

      img {
        display: block;
        width: 100%;
        height: auto;
      }

      &.el-01 {
        left: 51.4vw;
        top: 10vh;
        width: 69px;
      }
      &.el-02 {
        bottom: 6vh;
        width: 69px;
        left: 48.6vw;
      }
      &.el-03 {
        right: 3.1vw;
        top: 6.6vh;
        width: 104px;
      }
    }
  }

  .container {
    position: relative;
    z-index: 2;
  }

  .image {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 62.4vw;

    img {
      display: block;
      width: 100%;
      height: auto;
      transform: translateX(60px);
    }
  }

  h2 {
    font-family: inherit;
    font-weight: 700;
    font-size: 3.125vw;
    line-height: 120%;
    color: #fff;
    letter-spacing: 0;
    margin: 0;
    opacity: 0;
    transform: translateY(-50%);
  }

  .wrapper {
    width: 30.3125vw;
    padding: 30px 0;
  }

  ul {
    margin: 6vh 0 0;
    padding: 0;
    list-style: none;
    font-size: 1.5vw;
    line-height: 1.333;

    li {
      position: relative;
      padding: 0 0 0 54px;
      margin: 0 0 1.9vh;
      opacity: 0;
      transform: translateY(-50%);

      &:before {
        content: "";
        position: absolute;
        left: 22px;
        top: 0.7em;
        width: 10px;
        height: 10px;
        background-color: #fff;
        border-radius: 100%;
      }
    }
  }

  .buttons {
    padding: 0 0 10px;

    .btn {
      background-color: #f83d5e;
      color: #fff;
      padding: 0 42px;
    }
  }

  @include media-breakpoint-up(xxxl) {
    .container {
      max-width: 1520px;
    }
  }

  @include media-breakpoint-down(xxl) {
    .container {
      padding-left: 8.7vw;
    }

    .image {
      width: 55vw;

      img {
        transform: translateX(0);
      }
    }

    .wrapper {
      width: 33vw;
    }

    h2 {
      margin: 0 2vw 0 0;
    }

    ul {
      li {
        padding: 0 0 0 37px;
        margin: 0 0 1.9vh;

        &:before {
          left: 15px;
          width: 7px;
          height: 7px;
        }
      }
    }
  }

  @include media-breakpoint-down(lg) {
    height: auto;
    min-height: 0 !important;

    .fp-overflow {
      overflow: visible !important;
    }

    .elements {
      .el {
        &.el-01 {
          left: -4px;
          top: 194px;
          width: 18px;
        }
        &.el-02 {
          bottom: 17px;
          width: 37px;
          left: 130px;
        }
        &.el-03 {
          right: 26px;
          top: 422px;
          width: 43px;
          transform: scaleX(-1);
        }
      }
    }

    .container {
      padding: 0 28px;
    }

    .wrapper {
      width: auto;
      padding: 42px 0 0;
    }

    .image {
      position: static;
      display: block;
      margin: 30px 0 0;
      overflow: hidden;
      width: auto;

      img {
        display: block;
        width: 140%;
        height: auto;
        float: right;
        transform: translate(45px, 0);
      }
    }

    .buttons {
      display: none;
    }

    h2 {
      font-size: 38px;
      line-height: 1.26;
    }

    ul {
      margin: 20px 10px 0 32px;
      font-size: 16px;
      line-height: 1.25;

      li {
        padding: 0 0 0 30px;
        margin: 0 0 20px;

        &:last-child {
          margin: 0;
        }

        &:before {
          left: 15px;
          top: 0.7em;
          width: 5px;
          height: 5px;
        }
      }
    }
  }
}
