.landing-04 {
  background: #7f53e9 radial-gradient(54.13% 72.1% at 57.38% 88.25%, #693be2 0%, rgba(101, 47, 235, 0) 97.5%);
  font-family: $ff-notosans;
  color: #fff;
  position: relative;

  .elements {
    .el {
      position: absolute;
      z-index: 2;

      img {
        display: block;
        width: 100%;
        height: auto;
      }

      &.el-01 {
        left: 54.7vw;
        top: 10vh;
        width: 69px;
      }
      &.el-02 {
        bottom: 11vh;
        width: 69px;
        left: 50vw;
      }
      &.el-03 {
        right: 16.4vw;
        top: 8vh;
        width: 35px;
      }
      &.el-04 {
        display: none;
      }
    }
  }

  .image {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 55.5vw;

    img {
      display: block;
      width: 100%;
      height: auto;
    }

    .buttons {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 15%;
      text-align: center;
      padding: 0 0 0 3vw;

      .btn {
        background-color: #f83d5e;
        color: #fff;
        padding: 0 42px;
      }
    }
  }

  h2 {
    font-family: $ff-playfair;
    font-weight: 700;
    font-size: 3.125vw;
    line-height: 120%;
    color: #fff;
    letter-spacing: 0;
    margin: 0;
    opacity: 0;
    transform: translateY(-50%);

    span {
      display: inline-block;
      padding: 10px 39px;
      position: relative;
      margin: 0 0 10px -39px;

      &:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: -0.1em;
        bottom: -0.1em;
        border: 2px solid #fff;
        border-radius: 50px;
        opacity: 0;
        transition: all 0.2s;
      }

      &.outlined {
        &:before {
          opacity: 1;
        }
      }
    }
  }

  .wrapper {
    width: 30.3125vw;
    padding: 20px 0 0;
    position: relative;
    z-index: 2;
    font-size: 1.5625vw;
    line-height: 1.25;
  }

  ul {
    margin: 8vh 0 0;
    padding: 0;
    list-style: none;

    li {
      position: relative;
      padding: 0 0 0 46px;
      margin: 0 0 2.5vh;
      opacity: 0;
      transform: translateY(-50%);

      &:before {
        content: "";
        position: absolute;
        left: 18px;
        top: 0.5em;
        width: 10px;
        height: 10px;
        background-color: #fff;
        border-radius: 100%;
      }
    }
  }

  @include media-breakpoint-up(xxxl) {
    .container {
      max-width: 1520px;
    }
  }

  @include media-breakpoint-down(xxl) {
    .elements {
      .el {
        &.el-01,
        &.el-02,
        &.el-03 {
          width: 35px;
        }
        &.el-01 {
          left: 50.7vw;
          top: 9.6vh;
        }
        &.el-02 {
          bottom: 14vh;
          left: 45vw;
        }
        &.el-03 {
          right: 6.2vw;
          top: 5vh;
        }
      }
    }

    .container {
      padding-left: 8.7vw;
    }

    .image {
      width: 50vw;

      img {
        transform: translateX(0);
      }
    }

    .wrapper {
      width: 33vw;
      font-size: 20px;
    }

    h2 {
      margin: 0 2vw 0 0;

      span {
        padding: 5px 30px;
        margin: 0 0 10px -30px;

        &:before {
          top: 0;
          bottom: -0.15em;
        }
      }
    }

    ul {
      li {
        padding: 0 0 0 30px;
        margin: 0 0 20px;

        &:before {
          left: 15px;
          width: 7px;
          height: 7px;
        }
      }
    }
  }

  @include media-breakpoint-down(lg) {
    height: auto;
    min-height: 0 !important;

    .fp-overflow {
      overflow: visible !important;
    }

    .elements {
      .el {
        &.el-01 {
          left: 20px;
          top: 430px;
          width: 18px;
        }
        &.el-02 {
          top: 395px;
          width: 18px;
          left: auto;
          right: 117px;
        }
        &.el-03 {
          right: 93px;
          top: 415px;
          width: 25px;
        }
        &.el-04 {
          display: block;
          width: 37px;
          bottom: 25px;
          left: 40%;
        }
      }
    }

    .container {
      padding: 0 28px;
    }

    .wrapper {
      width: auto;
      padding: 60px 0 0;
      font-size: 16px;
      line-height: 20px;
    }

    .image {
      position: static;
      display: block;
      margin: 0 0 -15px;
      overflow: hidden;
      width: auto;

      img {
        display: block;
        width: 140%;
        height: auto;
        float: right;
        transform: translate(30px, 0);
      }
    }

    .buttons {
      display: none;
    }

    h2 {
      font-size: 32px;
      line-height: 40px;
      span {
        padding: 5px 20px 5px 10px;
        margin: 0 0 5px -10px;

        &:before {
          border-width: 1px;
        }
      }
    }

    ul {
      margin: 25px 0 0;

      li {
        padding: 0 0 0 16px;

        &:last-child {
          margin: 0;
        }

        &:before {
          left: 2px;
          width: 4px;
          height: 4px;
        }
      }
    }
  }
}
