.landing-03 {
  background: #150e25 url(../img/landing/bg-03.svg) 50% top / 100% auto no-repeat;
  font-family: $ff-playfair;
  color: #fff;

  .fp-overflow {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .container {
    max-width: none;
    position: relative;
    padding: 30px 0 0;
  }

  .h1 {
    font-family: inherit;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate3d(-50%, 0.33em, 0);
    font-size: 4.69vw;
    font-weight: 700;
    line-height: 1.11;
    color: #fff;
    text-align: center;
    letter-spacing: 0;

    span {
      display: block;
      color: #f83d5e;
    }
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 9.4vw 0 5.7vw;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;

    &:first-child {
      width: 43%;

      li {
        &:first-child {
          margin: 0 0 7.6vh;
        }
        &:last-child {
          align-self: flex-end;
        }
      }
    }

    &:last-child {
      align-items: flex-end;

      li {
        &:first-child {
          margin: 0 5.4vw 4.1vh 0;
        }
      }
    }

    .item {
      font-weight: 700;
      font-size: 2.083vw;
      line-height: 1.5;
      text-align: center;
      color: #fff;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      transform: scale(0.5);
      transform-origin: center;
      cursor: pointer;
      position: relative;

      .item-bg {
        @include abs;
        img {
          display: block;
          @include img-fit;
          filter: drop-shadow(0 4px 250px #f83e5f);
          opacity: 0;
          transition: all 0.3s;
          transform-origin: center;
        }
      }

      &:hover {
        .item-bg {
          img {
            opacity: 1;
          }
        }
      }

      &.item-1 {
        background: url(../img/landing/el-3-1.svg) 0 0 / cover no-repeat;
        width: 28.125vw;
        height: 14.74vw;
        padding: 0 0 10%;
      }

      &.item-2 {
        background: url(../img/landing/el-3-2.svg) 0 0 / cover no-repeat;
        width: 26.78vw;
        height: 17.55vw;
        line-height: 1.4;
        padding: 0 0 3%;
      }

      &.item-3 {
        background: url(../img/landing/el-3-3.svg) 0 0 / cover no-repeat;
        width: 18.96vw;
        height: 16.46vw;
        padding: 0 0 3%;
      }

      &.item-4 {
        background: url(../img/landing/el-3-4.svg) 0 0 / cover no-repeat;
        width: 38.54vw;
        height: 14.746vw;
        position: relative;
        padding: 8.5% 0 0;
      }

      p {
        margin: 0;
        position: relative;
        z-index: 2;

        strong {
          color: #ffc821;
          font-size: 1.5em;
        }
      }
    }
  }

  .buttons {
    display: flex;
    justify-content: center;
    padding: 6.25vh 0 0;

    .btn {
      background-color: #f83d5e;
      color: #fff;
      box-shadow: none;
      padding: 0 42px;

      svg path {
        transition: all 0.2s;
      }

      &:hover {
        transform: none;
        background-color: #fff;
        color: #f83d5e;

        svg path {
          fill: #f83d5e;
        }
      }
    }
  }

  @include media-breakpoint-down(xxl) {
    .container {
      padding: 0;
    }

    .h1 {
      font-size: 5vw;
      line-height: 1.33;
      transform: translate3d(-50%, -0.07em, 0);

      br {
        display: none;
      }
    }

    ul {
      &:first-child {
        width: 44.5%;

        li {
          &:first-child {
            margin: 26px 0 6.9vh;
          }
        }
      }

      &:last-child {
        li {
          &:first-child {
            margin: 0 -8px 7vh 0;
          }
          &:last-child {
            margin: 0 68px 0 0;
          }
        }
      }

      .item {
        font-size: 1.76vw;
        line-height: 1.2;

        .item-bg {
          img {
            filter: drop-shadow(0 2px 100px rgba(#f83e5f, 0.5)) drop-shadow(0 2px 150px #f83e5f);
          }
        }

        &.item-1 {
          width: 26vw;
          height: 13.6vw;
          margin: 0 0 0 -15px;
        }

        &.item-2 {
          width: 23vw;
          height: 15vw;
          line-height: 1.2;
          padding: 0;
        }

        &.item-3 {
          width: 16.84vw;
          height: 14.64vw;
          padding: 0;
        }

        &.item-4 {
          width: 33.5vw;
          height: 12.8vw;
        }

        p {
          strong {
            font-size: 1.75em;
            line-height: 0.9;
            display: inline-block;
          }
        }
      }
    }

    .buttons {
      padding: 8vh 0 0;
    }
  }

  @include media-breakpoint-down(lg) {
    height: auto;
    min-height: 0 !important;

    .container {
      padding: 60px 0 62px;
    }

    .h1 {
      position: static;
      transform: none;
      font-size: 38px;
      line-height: 1.33;
      margin: 0 0 41px;

      br {
        display: none;
      }
    }

    .wrapper {
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      padding: 0;
    }

    ul {
      &:first-child {
        width: auto;

        li {
          &:first-child {
            margin: 0 0 24px;
          }
          &:last-child {
            align-self: flex-start;
            margin: 0 0 20px;
          }
        }
      }

      &:last-child {
        align-items: flex-start;

        li {
          &:first-child {
            margin: 0 0 24px;
          }
          &:last-child {
            margin: 0;
          }
        }
      }

      .item {
        font-size: 18px;
        line-height: 1.467;

        .item-bg {
          img {
            filter: drop-shadow(0 2px 50px #f83e5f) drop-shadow(0 2px 100px #f83e5f);
          }
        }

        &.item-1 {
          width: 242px;
          height: 126px;
          padding: 0 0 12%;
        }

        &.item-2 {
          width: 228px;
          height: 148px;
          line-height: 1.4;
          padding: 0 0 3%;
        }

        &.item-3 {
          width: 160px;
          height: 140px;
          padding: 0 0 3%;
        }

        &.item-4 {
          background-image: url(../img/landing/el-3-4-m.svg);
          width: 238px;
          height: 137px;
          padding: 13% 0 0;
          margin: 0 0 3px;
        }

        p {
          strong {
            font-size: 1.55em;
          }
        }
      }
    }
  }

  @include media-breakpoint-down(md) {
    .buttons {
      display: none;
    }

    ul {
      .item {
        .item-bg {
          img {
            filter: drop-shadow(0 2px 50px #f83e5f) drop-shadow(0 2px 50px rgba(#f83e5f, 0.5));
          }
        }
      }
    }
  }
}
