.landing-02 {
  background: #f9f3e9 url(../img/landing/bg-02.svg) 50% bottom / 100% auto no-repeat;
  position: relative;
  font-family: $ff-playfair;

  .container {
    max-width: 1810px;
    padding: 50px 20px;
  }

  .wrapper {
    display: flex;
    justify-content: center;

    .box {
      width: 100%;
      margin: 0 25px;
      position: relative;

      &:before,
      &:after {
        content: "";
        position: absolute;
      }

      .inner {
        position: relative;
        overflow: hidden;
        border: 2px solid #1d1d1b;
        border-radius: 50px;
        padding: 11% 10.4% 10.6%;
        height: 100%;
        min-height: 330px;
        cursor: pointer;
        transition: all 0.3s ease;

        &:before,
        &:after {
          content: "";
          position: absolute;
        }
      }

      h2 {
        font-family: inherit;
        font-weight: 700;
        font-size: 3.125vw;
        line-height: 120%;
        color: #000;
        letter-spacing: 0;
        margin: 0;
      }

      p {
        margin: 1.4em 0 0;
        font-family: $ff-notosans;
        font-weight: 300;
        font-size: 1.5625vw;
        line-height: 153%;
        text-transform: uppercase;
        color: #000;
      }

      &:hover {
        .inner {
          transform: translateY(-5%);
        }
      }

      &:nth-child(1) {
        &:after {
          left: 100%;
          top: 20%;
          width: 164px;
          height: 186px;
          background: url(../img/landing/el-2-4.svg) 0 0 / cover no-repeat;
          transform: translateX(-61px);
        }

        .inner {
          &:before {
            right: 0;
            bottom: 9%;
            background: url(../img/landing/el-2-1.svg) 0 0 / cover no-repeat;
            width: 8.8vw;
            height: 14.27vw;
          }
        }
      }

      &:nth-child(2) {
        &:after {
          left: 100%;
          top: 27%;
          width: 111px;
          height: 184px;
          background: url(../img/landing/el-2-5.svg) 0 0 / cover no-repeat;
          transform: translateX(-31px);
        }
        .inner {
          &:before {
            right: 0;
            bottom: 0;
            background: url(../img/landing/el-2-2.svg) 0 0 / cover no-repeat;
            width: 8.9vw;
            height: 8.9vw;
            transform: translate3d(8%, 45%, 0);
          }
        }

        p {
          display: inline-block;
          padding: 8px 39px;
          color: #fff;
          border-radius: 40px;
          background-color: rgba(0, 0, 0, 0.1);
          margin: 1em 0 0;
        }
      }

      &:nth-child(3) {
        .inner {
          &:before {
            right: 9%;
            bottom: 9%;
            background: url(../img/landing/el-2-3.svg) 0 0 / cover no-repeat;
            width: 4.9vw;
            height: 4.9vw;
          }
        }
      }
    }
  }

  .buttons {
    display: flex;
    justify-content: center;
    padding: 80px 0 10px;

    .btn {
      margin: 0 20px;

      &.btn-outlined {
        border-width: 1px;
        padding: 0 55px;
      }
    }
  }

  @include media-breakpoint-down(xxl) {
    .container {
      max-width: 1246px;
      margin: auto;
    }

    .wrapper {
      .box {
        margin: 0 20px;

        .inner {
          border-radius: 30px;
          padding: 10.5% 10.4% 9%;
          min-height: 350px;
        }

        h2 {
          line-height: 1.25;
        }

        p {
          margin: 1.5em 0 0;
          font-size: 20px;
          line-height: 1.5;
        }

        &:nth-child(1) {
          &:after {
            top: 17%;
            width: 130px;
            height: 158px;
            transform: translateX(-52px);
          }

          .inner {
            &:before {
              bottom: 13%;
              width: 8.1vw;
              height: 13.5vw;
            }
          }
        }

        &:nth-child(2) {
          &:after {
            top: 23%;
            width: 92px;
            height: 152px;
            transform: translateX(-26px);
          }

          p {
            padding: 4px 24px;
            border-radius: 30px;
            margin: 1em 0 0;
          }
        }

        &:nth-child(3) {
          .inner {
            &:before {
              width: 5.4vw;
              height: 5.4vw;
            }
          }
        }
      }
    }

    .buttons {
      padding: 50px 0 30px;
    }
  }

  @include media-breakpoint-down(lg) {
    height: auto;
    min-height: 0 !important;
    padding: 0 0 60px;

    .wrapper {
      flex-direction: column;
      align-items: center;
      padding: 40px 0 0;

      .box {
        width: 295px;
        margin: 0 0 40px;

        .inner {
          border-width: 1px;
          border-radius: 30px;
          padding: 11% 16% 8% 6%;
          min-height: 280px;
        }

        h2 {
          font-size: 32px;
          line-height: 125%;
        }

        p {
          margin: 1.5em 0 0;
          font-size: 16px;
          line-height: 160%;
        }

        &:nth-child(1) {
          &:after {
            left: auto;
            right: 0;
            top: 100%;
            width: 88px;
            height: 102px;
            transform: translate(-65px, -34px) rotate(82deg);
          }

          .inner {
            &:before {
              width: 58px;
              height: 91px;
              background-size: auto 100%;
              top: 65px;
              right: -18px;
            }
          }
        }

        &:nth-child(2) {
          &:after {
            background-image: url(../img/landing/el-2-5-m.svg);
            left: 90px;
            top: 100%;
            width: 90px;
            height: 40px;
            transform: none;
          }
          .inner {
            &:before {
              right: 10px;
              bottom: 15px;
              width: 75px;
              height: 75px;
              transform: none;
            }
          }

          p {
            padding: 5px 24px;
            margin: 1.5em 0 0;
          }
        }

        &:nth-child(3) {
          .inner {
            &:before {
              right: 30px;
              bottom: 30px;
              width: 56px;
              height: 56px;
            }
          }
        }
      }
    }
  }

  @include media-breakpoint-down(md) {
    background-image: url(../img/landing/bg-02-m.svg);
    background-position: center bottom;
    background-size: 100% 80%;

    .buttons {
      padding: 0;

      .btn {
        margin: 0;

        &.btn-start {
          display: none;
        }

        &.btn-outlined {
          border-width: 2px;
          padding: 0 15px;
        }
      }
    }
  }
}
