.landing-05 {
  font-family: $ff-notosans;
  color: #1d1d1b;
  background: #f9f3e9;
  overflow: hidden;

  .fp-overflow {
    position: relative;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: url(../img/landing/bg-05.svg) 50% 0 / 100% auto no-repeat;
    }
  }

  .elements {
    .el {
      position: absolute;

      img {
        display: block;
        width: 100%;
        height: auto;
      }

      &.el-01 {
        left: 4.3vw;
        top: 9.8vh;
        width: 9.58vw;
      }
      &.el-02 {
        top: 3.1vh;
        right: 7vw;
        width: 7.86vw;
      }
    }
  }

  .container {
    position: relative;
    z-index: 2;
    padding: 0 8.3vw 0 0;
    max-width: none;
  }

  .section-header {
    text-align: center;
    padding: 118px 0 0 8.3vw;
    margin: 0 0 -150px;

    .icon {
      display: block;
      margin: auto;
      transform: scaleY(0);
      transform-origin: center top;
    }
  }

  h2 {
    font-family: $ff-playfair;
    font-weight: 700;
    font-size: 3.125vw;
    line-height: 1.3;
    color: #000;
    letter-spacing: 0;
    margin: 0 0 72px;
    visibility: hidden;

    .line {
      opacity: 0;
      transform: translateY(-50%);
    }

    em {
      font-style: normal;
      color: $white;
    }

    span {
      display: inline-block;
      padding: 10px 39px;
      position: relative;

      &:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0.1em;
        bottom: -0.2em;
        border: 2px solid #000;
        border-radius: 50px;
        opacity: 0;
        transition: all 0.2s;
      }

      &.outlined {
        &:before {
          opacity: 1;
        }
      }
    }
  }

  .wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .col-image {
    width: 57%;

    figure {
      margin: 0 7% 0 13.5%;
      height: 100%;
      position: relative;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .col-text {
    width: 41.5%;
    font-weight: 400;
    font-size: 1.5625vw;
    line-height: 133%;
    padding: 60px 4.5vw 0 41px;
    align-self: center;
    position: relative;

    .sticker {
      position: absolute;
      right: -45px;
      top: 106px;
      width: 11vw;
      height: 11vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-family: $ff-playfair;
      font-size: 1.04vw;
      font-weight: 700;
      line-height: 1;
      letter-spacing: 0em;
      text-align: center;
      color: $white;
      background: url(../img/bg/collab1.svg) 0 0 / cover no-repeat;
      transform: translate3d(34%, -23%, 0);
      padding: 0 0 5px 15px;

      .sticker-img {
        display: block;
        width: 5.73vw;
        height: auto;
        margin: 8px 0 0;

        img {
          display: block;
          width: 100%;
          height: auto;
        }
      }
    }

    h3 {
      font-size: 3.125vw;
      line-height: 1.233;
      font-family: $ff-playfair;
      color: #000;
      margin: 0 0 55px;
      letter-spacing: 0;
    }

    p {
      margin: 0;
      span {
        font-weight: 700;
        color: #f83d5e;
      }
    }

    ul {
      margin: 40px 0 63px;
      padding: 0;
      list-style: none;

      li {
        position: relative;
        padding: 0 0 0 54px;
        margin: 0 0 20px;

        &:before {
          content: "";
          position: absolute;
          left: 22px;
          top: 0.7em;
          width: 10px;
          height: 10px;
          background-color: #000;
          border-radius: 100%;
        }
      }
    }

    .btn {
      background-color: #f83d5e;
      color: #fff;
    }
  }

  @include media-breakpoint-down(xxl) {
    .elements {
      .el {
        &.el-01 {
          left: 4.4vw;
          top: 7.4vh;
          width: 9.2vw;
        }
        &.el-02 {
          top: 3.7vh;
          right: 5.4vw;
        }
      }
    }

    .container {
      padding: 0 6vw 0 0;
    }

    .section-header {
      padding: 80px 0 0 6vw;
      margin: 0 0 -95px;
    }

    h2 {
      font-size: 3.075vw;
      line-height: 1.2;
      max-width: 17em;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 50px;
    }

    .col-image {
      width: 50.5%;
      figure {
        margin: 0 1% 0 18.5%;
      }
    }

    .col-text {
      width: 40%;
      padding: 20px 50px 0 0;
      font-size: 20px;
      line-height: 1.2;

      .sticker {
        right: 7px;
        top: 48px;
        width: 10vw;
        height: 10vw;
      }

      h3 {
        margin-bottom: 44px;
      }

      ul {
        margin: 24px 40px 36px 0;

        li {
          padding: 0 0 0 37px;
          margin: 0 0 22px;

          &:before {
            left: 15px;
            top: 0.5em;
            width: 7px;
            height: 7px;
          }
        }
      }
    }
  }

  @include media-breakpoint-down(xl) {
    .col-image {
      img {
        width: 100%;
        height: auto;
        position: static;
        transform: none;
      }
    }
  }

  @include media-breakpoint-down(lg) {
    height: auto;
    min-height: 0 !important;

    .fp-overflow {
      overflow: hidden;
      &:before {
        background-position: 50% -300px;
        background-size: auto;
      }
    }

    .container {
      padding: 0 20px;
    }

    .elements {
      .el {
        &.el-01 {
          left: -20px;
          top: 188px;
          width: 55px;
        }
        &.el-02 {
          top: 85px;
          right: -30px;
          width: 65px;
        }
      }
    }

    .section-header {
      text-align: center;
      padding: 40px 0 0;
      margin: 0 0 34px;
    }

    h2 {
      font-size: 38px;
      line-height: 1.26;
      margin: 0 0 25px;

      span {
        padding: 0 20px;
      }
    }

    .wrapper {
      flex-direction: column;
      padding: 0;
    }

    .col-image {
      width: auto;
      display: flex;
      justify-content: center;
      padding: 0;
      margin: 0 -20px;

      figure {
        margin: 0;
        max-width: none;
      }

      img {
        display: block;
      }
    }

    .col-text {
      width: 100%;
      font-size: 16px;
      line-height: 20px;
      padding: 0;

      .sticker {
        left: 0;
        top: 100%;
        width: 100px;
        height: 100px;
        font-size: 10px;
        padding: 0 0 0 10px;
        right: auto;
        transform: none;

        .sticker-img {
          width: 55px;
        }
      }

      h3 {
        font-size: 37px;
        margin: 0 -29px 13px 0;
      }

      .subtitle {
        font-size: 16px;
        margin: 0 0 30px 24px;
      }

      p {
        margin: 0 0 0 24px;
      }

      ul {
        margin: 15px 15px 0 20px;

        li {
          padding: 0 0 0 30px;
          margin: 0 0 20px;

          &:before {
            left: 14px;
            top: 0.6em;
            width: 5px;
            height: 5px;
          }
        }
      }

      .btn {
        display: none;
      }
    }
  }
}
