.section-pricing-01 {
  position: relative;
  background-color: #f9f3e9;
  color: #0a0517;

  &:before {
    content: "";
    width: 390px;
    height: 350px;
    background-color: #fe5122;
    filter: blur(128px);
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate3d(-50%, -30%, 0);
    border-radius: 100%;
  }

  .elements {
    .el {
      position: absolute;
      z-index: 2;
      background-position: 0 0;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url(../img/icons/star-orange.svg);

      &.el-01 {
        width: 84px;
        height: 84px;
        left: 15.5vw;
        top: 127px;
      }
      &.el-02 {
        width: 53px;
        height: 53px;
        left: 13.5vw;
        top: 244px;
      }
      &.el-03 {
        width: 78px;
        height: 78px;
        right: 13vw;
        top: 96px;
      }
      &.el-04 {
        width: 53px;
        height: 53px;
        right: 10.3vw;
        top: 207px;
      }
    }
  }

  .container {
    position: relative;
    z-index: 2;
  }

  .logo {
    width: 3.75rem;
    margin: 0 auto;
    padding: 6vh 0 13px;

    img {
      display: block;
      max-width: 100%;
      height: auto;
    }
  }

  h1 {
    font-size: 2.67rem;
    font-weight: 700;
    line-height: 125%;
    margin: 0 0 6.5vh;
    color: #fe5122;
    text-align: center;
  }

  .list-wrapper {
    margin: 0 auto 230px;
    font-size: 1.33rem;
    font-weight: 400;
    line-height: 120%;

    .list-title {
      margin: 0 0 65px;
      text-align: center;
    }

    ul {
      list-style: none;
      margin: 0 auto;
      padding: 0 0 0 3vw;
      font-family: $ff-kaisei;
      font-size: 2rem;
      line-height: 1.2;
      width: fit-content;

      li {
        position: relative;
        padding: 0 0 0 35px;
        margin: 0 0 36px;
        width: fit-content;

        &:last-child {
          margin: 0;
        }

        &:before {
          content: "";
          position: absolute;
          left: 2px;
          top: 0.5em;
          width: 20px;
          height: 20px;
          background: url(../img/icons/star-li-dark.svg) 0 0 no-repeat;
          background-size: cover;
        }

        strong {
          font-weight: 700;
        }
      }
    }
  }

  .price-wrapper {
    text-align: center;
    color: #0a0517;
    font-weight: 600;
    line-height: 1.1;
    padding: 90px 0 31px;

    .price-title {
      font-size: 40px;
      margin: 0 0 31px;
    }

    .price-value {
      font-size: 68px;
    }
  }

  .btn-wrapper {
    margin: 0 0 4.8vh;

    .btn {
      background-color: #fe5122;
      color: $white;
      width: 400px;
      height: 76px;
      font-size: 26px;

      svg {
        width: 36px;
        height: 36px;
        margin: 0 14px 0 0;
      }

      &:hover {
        background-color: $pink-text;
      }
    }
  }

  .image-wrapper {
    position: relative;
    overflow: visible !important;

    figure {
      width: 100%;
      overflow: hidden;
      margin: 0;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  .image-fixed {
    position: absolute;
    bottom: 0;
    right: 4.6vw;
    width: 31vw;
    transform: translateY(-40px);
    z-index: 2;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  @include media-breakpoint-down(xxl) {
    &:before {
      width: 280px;
      height: 250px;
      filter: blur(91px);
    }
    .elements {
      .el {
        &.el-01 {
          width: 59px;
          height: 56px;
          top: 85px;
        }
        &.el-02 {
          width: 37px;
          height: 35px;
          top: 164px;
        }
        &.el-03 {
          width: 55px;
          height: 52px;
          top: 64px;
        }
        &.el-04 {
          width: 37px;
          height: 35px;
          top: 139px;
        }
      }
    }

    .logo {
      width: 3.35rem;
      padding-top: 35px;
    }

    h1 {
      font-size: 2rem;
      margin: 0 0 40px;
    }

    .price-wrapper {
      padding: 65px 0 21px;

      .price-title {
        font-size: 28px;
        margin: 0 0 22px;
      }

      .price-value {
        font-size: 48px;
      }
    }

    .btn-wrapper {
      margin: 0 0 35px;

      .btn {
        width: 284px;
        height: 54px;
        font-size: 18px;

        svg {
          width: 25px;
          height: 25px;
        }
      }
    }

    .list-wrapper {
      width: max-content;
      padding: 0 0 0 50px;
      font-size: 23px;
      margin-bottom: 177px;

      .list-title {
        margin: 0 0 26px;
      }

      ul {
        font-size: 1.51rem;
        li {
          padding: 0 0 0 25px;
          margin: 0 0 24px;

          &:before {
            width: 14px;
            height: 14px;
          }
        }
      }
    }
  }

  @include media-breakpoint-down(lg) {
    .elements {
      .el {
        &.el-01 {
          width: 17px;
          height: 17px;
          left: 29px;
          top: 88px;
        }
        &.el-02 {
          display: none;
        }
        &.el-03 {
          width: 17px;
          height: 17px;
          right: 82px;
          top: 33px;
        }
        &.el-04 {
          width: 28px;
          height: 28px;
          right: 40px;
          top: 91px;
        }
      }
    }
  }

  @include media-breakpoint-down(md) {
    min-height: 0 !important;

    &:before {
      width: 100vw;
      height: 100vw;
      filter: blur(100px);
      bottom: auto;
      top: 0;
      transform: translate3d(-50%, -80%, 0);
    }

    .logo {
      width: 69px;
      padding: 30px 0 20px;
    }

    h1 {
      font-size: 36px;
    }

    .price-wrapper {
      padding: 43px 0 15px;

      .price-title {
        font-size: 24px;
      }

      .price-value {
        font-size: 40px;
      }
    }

    .list-wrapper {
      padding: 0 20px 0 0;
      margin-bottom: 70px;
      font-size: 18px;
      line-height: 140%;

      .list-title {
        margin: 0 0 20px;
        text-align: left;
      }

      ul {
        font-size: 32px;

        li {
          padding: 0 0 0 32px;
          margin: 0 0 30px;

          &:before {
            top: 0.25em;
            width: 18px;
            height: 18px;
          }
        }
      }
    }

    .btn-wrapper {
      margin: 0 0 45px;

      .btn {
        width: 295px;
        height: 48px;
        font-size: 16px;

        svg {
          width: 28px;
          height: 28px;
          margin-right: 7px;
        }
      }
    }

    .image-wrapper {
      display: flex;
      justify-content: center;
      img {
        width: auto;
        height: 140px;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    .list-wrapper {
      width: 100%;
      padding: 0;
    }

    .image-fixed {
      right: 1vw;
      width: 56.6vw;
      transform: translateY(-66px);
    }
  }
}

.section-pricing-02 {
  background-color: #4953e9;
  position: relative;

  .elements {
    .el {
      position: absolute;
      z-index: 1;
      background-position: 0 0;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url(../img/icons/star-white.svg);
      width: 36px;
      height: 36px;

      &.el-01 {
        left: 103px;
        top: 105px;
      }
      &.el-02 {
        left: 139px;
        bottom: 92px;
      }
      &.el-03 {
        left: 52%;
        top: 36px;
      }
      &.el-04 {
        right: 204px;
        top: 194px;
      }
    }
  }

  .container {
    display: flex;
    align-items: center;
  }

  .images {
    width: 44%;
    flex: 0 0 auto;
    padding: 33px 5.3% 38px 4.3%;

    .inner {
      padding: 93% 0 0;
      position: relative;

      figure {
        position: absolute;
        margin: 0;
        width: 47.84%;

        img {
          display: block;
          width: 100%;
          height: auto;
        }

        &.image-01 {
          left: 31%;
          top: 0;
        }

        &.image-02 {
          left: 0;
          top: 44%;
        }

        &.image-03 {
          right: 0;
          top: 49%;
        }
      }
    }
  }

  .text {
    color: $white;
    font-family: $ff-kaisei;
    font-weight: 700;

    .title {
      font-size: 5.83rem;
      line-height: 125%;
    }

    p {
      font-size: 2.67rem;
      line-height: 125%;
      margin: 20px 0 10px;
    }
  }

  @include media-breakpoint-down(xxl) {
    .text {
      .title {
        font-size: 4.5rem;
      }

      p {
        font-size: 2rem;
      }
    }
  }

  @include media-breakpoint-down(lg) {
    .elements {
      .el {
        width: 26px;
        height: 26px;

        &.el-01 {
          left: 50px;
        }
        &.el-02 {
          display: none;
        }
        &.el-04 {
          right: 60px;
        }
      }
    }
  }

  @include media-breakpoint-down(md) {
    .elements {
      .el {
        &.el-01 {
          left: 9px;
          top: auto;
          bottom: 59px;
        }
        &.el-03 {
          display: none;
        }
        &.el-04 {
          width: 36px;
          height: 36px;
          right: 17px;
          top: 243px;
        }
      }
    }

    .container {
      flex-direction: column-reverse;
    }

    .images {
      padding: 0 0 32px;
      width: auto;

      .inner {
        width: 239px;
        height: 218px;
        margin: auto;
        padding: 0;
      }
    }

    .text {
      text-align: center;
      padding: 32px 0 27px;

      .title {
        font-size: 96px;
        line-height: 1;
      }

      p {
        margin: 28px 30px 0;
        font-size: 36px;
      }
    }
  }
}

.wrap-new-page {
  position: relative;
  z-index: 10;
  font-family: "graphik", sans-serif;
  background: #f9f3e9;

  .bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;

    img {
      position: absolute;
    }
  }

  section {
    position: relative;
  }

  .container {
    position: relative;
    z-index: 5;
  }
}

.pricing-banner {
  padding: 40px 0 0;

  .logo-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 90px;
  }

  h1 {
    color: #fe5122;
    text-align: center;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;
    margin: 0 0 80px;
  }

  p {
    color: #0a0517;
    text-align: center;
    font-size: 1.333rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    max-width: 800px;
    margin: 0 auto 49px;
  }

  .user-block {
    width: 440px;
    margin: 0 auto 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    figure {
      width: 112px;
      margin: 0;
      img {
        vertical-align: top;
        width: 100%;
        border-radius: 100%;
      }
    }

    .text {
      width: calc(100% - 130px);
      text-align: center;

      p {
        color: #0a0517;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        margin: 0 0 5px;
      }

      .h6 {
        color: #0a0517;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        margin: 0;
      }
    }
  }

  .sub-title {
    color: #0a0517;
    text-align: center;
    font-family: "Kaisei Decol", serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    margin: 0 0 98px;
    width: 100%;
    max-width: 100%;
  }

  .bottom {
    position: relative;
    z-index: 2;
    background: #ff7650;
    left: 0;
    right: 0;
    bottom: 0;

    p {
      color: #fff;
      text-align: center;
      font-family: "Kaisei Decol", serif;
      font-size: 54px;
      font-style: normal;
      font-weight: 700;
      line-height: 120px;
      text-transform: uppercase;
      max-width: 100%;
      margin: 0 !important;
    }
  }

  .bg {
    .img-1 {
      top: 142px;
      left: 7vw;
    }

    .img-2 {
      top: 345px;
      left: 10.1vw;
    }

    .img-3 {
      top: 540px;
      right: 8.3vw;
    }

    .img-4 {
      top: 630px;
      right: 8.3vw;
    }

    .bg-1 {
      position: absolute;
      top: 0;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
    }
  }

  @include media-breakpoint-down(xxl) {
    padding: 30px 0 0;

    .bg {
      img {
        height: auto;
      }

      .img-1 {
        top: 100px;
        left: 7vw;
        width: 56px;
      }

      .img-2 {
        top: 246px;
        left: 10.1vw;
        width: 37px;
      }

      .img-3 {
        top: 383px;
        right: 8.3vw;
        width: 37px;
      }

      .img-4 {
        top: 448px;
        right: 8.3vw;
        width: 59px;
      }

      .bg-1 {
        width: 795px;
      }
    }

    .logo-wrap {
      margin-bottom: 57px;

      img {
        width: 70px;
        height: 70px;
      }
    }

    h1 {
      font-size: 3.2rem;
      margin: 0 0 57px;
    }

    p {
      font-size: 23px;
      max-width: 570px;
      margin: 0 auto 32px;
    }

    .user-block {
      margin-bottom: 50px;

      .text {
        p {
          font-size: 14px;
          margin: 0 0 5px;
        }

        .h6 {
          font-size: 14px;
        }
      }
    }

    .sub-title {
      font-size: 34px;
      margin: 0 0 70px;
    }

    .bottom {
      p {
        font-size: 1.8rem;
        line-height: 86px;
      }
    }
  }

  @include media-breakpoint-down(xl) {
    .bottom {
      p {
        font-size: 1.5rem;
      }
    }
  }

  @include media-breakpoint-down(lg) {
    .bg {
      img {
        display: none;

        &.bg-1 {
          display: block;
        }
      }
    }

    h1 {
      font-size: 48px;
    }

    .bottom {
      padding: 15px 20px;
      p {
        font-size: 20px;
        line-height: 1.25;
      }
    }
  }

  @include media-breakpoint-down(md) {
    padding: 68px 0 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .bg {
      .bg-1 {
        width: 795px;
        height: 363px;
      }
    }

    .logo-wrap {
      margin-bottom: 30px;
    }

    h1 {
      line-height: 1.2;
      margin: 0 0 35px;

      span {
        display: block;
      }
    }

    p {
      font-size: 30px;
      line-height: 1.37;
      margin: 0 0 45px;
    }

    .user-block {
      margin-bottom: 50px;
      width: auto;

      .text {
        p {
          font-size: 20px;
          margin: 0 0 9px;
        }

        .h6 {
          font-size: 20px;
        }
      }
    }

    .sub-title {
      font-size: 32px;
      margin: 0 30px 33px;
      width: auto;
      max-width: none;
    }

    .bottom {
      margin-top: auto;
    }
  }
}

.page-pricing {
  @include media-breakpoint-down(md) {
    .res-screen-05 {
      display: none;
    }
  }
}
