.res-screen-06 {
  position: relative;
  background-color: #0a0517;
  color: $white;
  transition: all 0.5s;

  &.hover {
    background-color: #f24eb6;
  }

  .btn-top {
    background: no-repeat;
    border: none;
    color: #fff;
    position: absolute;
    left: 50%;
    bottom: 30px;
    font-size: 18px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    column-gap: 9px;
  }

  .wrapper {
    display: flex;
    position: relative;
    padding: 60px 0;

    .text {
      width: 50.7%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h2 {
        font-size: 2.833rem;
        line-height: 1.25;
      }

      .share {
        p {
          font-size: 1.083rem;
          margin: 0 0 20px;
        }
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 76px;
          height: 76px;
          border: 2px solid #ffffff;
          border-radius: 60px;

          svg {
            display: block;
            path {
              transition: all 0.3s;
            }
          }

          &:hover {
            background-color: $white;

            svg path {
              fill: #0a0517;
            }
          }
        }
      }
    }

    .image {
      width: 47.3%;
      background: #ffffff;
      border-radius: 60px;
      text-align: center;
      padding: 0 45px 60px;

      figure {
        margin: 0;
        transform: translateY(-33px);
      }

      img {
        display: block;
        max-width: 100%;
        height: auto;
      }

      .price {
        font-weight: 600;
        font-size: 2.833rem;
        line-height: 110%;
        color: #0a0517;
        margin: 0 0 27px;
      }

      .btn {
        width: 100%;
        color: #f24eb6;
        border-color: #f24eb6;

        svg {
          margin-right: 10px;
          path {
            transition: all 0.3s;
          }
        }

        &:hover {
          color: $white;
          background-color: #652feb;
          border-color: #652feb;

          svg path {
            fill: $white;
          }
        }
      }
    }
  }

  @include media-breakpoint-down(xxl) {
    .wrapper {
      .text {
        width: 53%;
        h2 {
          font-size: 1.98rem;
        }

        .share {
          p {
            font-size: 0.85rem;
          }
          a {
            width: 50px;
            height: 50px;

            svg {
              width: 22px;
              height: auto;
            }
          }
        }
      }

      .image {
        width: 47.3%;
        border-radius: 40px;
        padding: 0 30px 40px;

        figure {
          transform: translateY(-21px);
        }

        .price {
          font-size: 1.98rem;
          margin: 0 0 20px;
        }

        .btn {
          height: 2.55rem;
          font-size: 18px;
        }
      }
    }
  }

  @include media-breakpoint-down(md) {
    .wrapper {
      padding: 20px 0;
      flex-direction: column;

      .text {
        width: 100%;

        h2 {
          font-size: 38px;
          margin: 0 0 34px;
          text-align: center;
          br {
            display: none;
          }
        }

        .share {
          display: none;
        }
      }

      .image {
        width: 100%;
        border-radius: 30px;
        padding: 30px 20px;

        figure {
          transform: none;
          margin: 0 15px;
        }

        img {
          margin: auto;
        }

        .price {
          font-size: 38px;
          margin: 38px 0 20px;
        }

        .btn {
          height: 48px;
          font-size: 16px;

          svg {
            width: 28px;
            height: 28px;
          }
        }
      }
    }

    .btn-top {
      display: none;
    }
  }
}
