.res-screen-05 {
  color: #0a0517;
  background-color: #fdab96;

  .container {
    position: relative;
    z-index: 3;
  }

  .wrapper {
    display: flex;
    position: relative;
    padding: 112px 0 60px;

    &:before,
    &:after {
      content: "";
      position: absolute;
      background: url(../img/icons/star.svg) 0 / cover no-repeat;
    }

    &:before {
      width: 66px;
      height: 66px;
      right: 38.5%;
      top: 92px;
    }
    &:after {
      width: 107px;
      height: 107px;
      right: -2%;
      top: 104px;
    }

    .image {
      width: 49.3%;
      background: #ffffff;
      border-radius: 70px;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      flex: 0 0 auto;
      overflow: hidden;

      figure {
        margin: 0;
        transform: translateX(-100%);
      }

      img {
        display: block;
        max-width: 100%;
        height: auto;
      }
    }

    .text {
      margin: 100px -95px 0 110px;
      position: relative;

      &:before {
        content: "";
        position: absolute;
        background: url(../img/icons/star.svg) 0 / cover no-repeat;
        width: 40px;
        height: 40px;
        left: 19%;
        bottom: 30px;
      }

      .inner {
        height: auto;
        background: #0a0517;
        border-radius: 200px;
        transform: rotate(9deg);
        padding: 15px 70px 3px;
        font-family: $ff-kaisei;
        font-weight: 500;
        font-size: 2.083rem;
        line-height: 125%;
        text-align: center;
        color: $white;

        @keyframes tada {
          0% {
            transform: scale(1);
          }
          2%,
          4% {
            transform: scale(0.9) rotate(-9deg);
          }
          6%,
          10%,
          14%,
          18% {
            transform: scale(1.1) rotate(9deg);
          }
          8%,
          12%,
          16% {
            transform: scale(1.1) rotate(-9deg);
          }
          20% {
            transform: scale(1) rotate(9deg);
          }
          100% {
            transform: scale(1) rotate(9deg);
          }
        }
      }
    }
  }

  .list {
    position: relative;

    &:before {
      content: "";
      position: absolute;
      background: url(../img/icons/star.svg) 0 / cover no-repeat;
      width: 66px;
      height: 66px;
      right: 15.5%;
      top: -32px;
    }

    h3 {
      font-size: 2.833rem;
      line-height: 110%;
      text-transform: uppercase;
      margin: 0 0 0.588em;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      column-gap: 20px;
      text-align: center;

      li {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px 10px;
        border: 3px dashed #0a0517;
        border-radius: 50px;
        font-size: 1.333rem;
        line-height: 125%;
      }
    }
  }

  .cite {
    padding: 291px 0 249px;
    position: relative;
    overflow: hidden;

    &:before {
      content: "";
      height: 50vw;
      width: 50vw;
      position: absolute;
      left: 50%;
      top: 100%;
      background: #652feb;
      filter: blur(200px);
      transform: translate3d(-50%, -59.6%, 0);
      border-radius: 100%;
    }

    &:after {
      content: "";
      position: absolute;
      background: url(../img/icons/star.svg) 0 / cover no-repeat;
      width: 62px;
      height: 62px;
      left: 11.46vw;
      bottom: 91px;
    }

    .inner {
      background: url(../img/bg/cite.svg) 50% 0 no-repeat;
      padding: 62px 0 0;
      position: relative;
      transform: translateY(100px);
      opacity: 0;

      &:after {
        content: "";
        position: absolute;
        background: url(../img/icons/star.svg) 0 / cover no-repeat;
        width: 62px;
        height: 62px;
        right: -5vw;
        top: 0px;
      }
    }

    blockquote {
      display: block;
      margin: 0;
      text-align: center;
      color: $white;
      font-family: $ff-kaisei;
      font-weight: 500;
      font-size: 2.833rem;
      line-height: 130%;
      max-width: 1266px;
      margin: auto;
    }
  }

  &.active {
    .wrapper {
      .text {
        .inner {
          animation: tada 7s linear 5s infinite forwards;
        }
      }
    }
  }

  @include media-breakpoint-down(xxl) {
    .wrapper {
      padding: 80px 0 58px;

      &:before {
        width: 50px;
        height: 50px;
        right: 37.5%;
        top: 60px;
      }
      &:after {
        width: 81px;
        height: 81px;
        right: -8%;
        top: 70px;
      }

      .image {
        width: 49%;
        border-radius: 40px;
      }

      .text {
        margin: 75px -115px 0 53px;

        &:before {
          width: 30px;
          height: 30px;
          left: 24%;
          bottom: 15px;
        }

        .inner {
          transform: rotate(11deg);
          padding: 12px 3.7vw 15px;
          font-size: 1.89rem;
          margin: 0 0 60px;
        }
      }
    }

    .list {
      &:before {
        width: 50px;
        height: 50px;
        right: 15.5%;
        top: -32px;
      }

      h3 {
        font-size: 1.98rem;
        margin: 0 0 30px;
      }

      ul {
        li {
          padding: 20px 10px;
          border-radius: 30px;
          font-size: 0.944rem;
        }
      }
    }

    .cite {
      padding: 181px 0 157px;

      &:after {
        display: none;
      }

      .inner {
        background-size: 145px auto;
        padding: 44px 0 0;

        &:after {
          display: none;
        }
      }

      blockquote {
        font-size: 2.22rem;
        max-width: 900px;
      }
    }
  }

  @include media-breakpoint-down(xl) {
    .wrapper {
      padding: 60px 0;

      &:before {
        width: 40px;
        height: 40px;
        top: 20px;
      }
      &:after {
        width: 60px;
        height: 60px;
        right: 2%;
        top: 40px;
      }

      .image {
        width: 40%;
      }

      .text {
        margin: 75px 0 0 53px;

        &:before {
          width: 30px;
          height: 30px;
          left: 24%;
          bottom: 15px;
        }

        .inner {
          padding: 30px 3.7vw;
          font-size: 1.7rem;

          p {
            margin: 0;
          }
        }
      }
    }

    .cite {
      padding: 150px 0;

      blockquote {
        font-size: 2rem;
      }
    }
  }

  @include media-breakpoint-down(md) {
    .wrapper {
      position: relative;
      padding: 126px 0 40px;

      &:before {
        width: 17px;
        height: 17px;
        right: auto;
        top: 193px;
        left: 78%;
      }
      &:after {
        width: 28px;
        height: 28px;
        right: auto;
        top: 251px;
        left: 87%;
      }

      .image {
        width: 73.4%;
        border-radius: 30px;
      }

      .text {
        margin: 0;
        position: absolute;
        left: 42%;
        top: 62px;
        width: 206px;
        max-width: 55vw;

        &:before {
          display: none;
        }

        .inner {
          transform: rotate(9deg);
          padding: 15px 20px 15px;
          font-size: 14px;
        }
      }
    }

    .list {
      &:before {
        width: 23px;
        height: 23px;
        right: 24%;
        top: auto;
        bottom: -61px;
      }

      h3 {
        font-size: 1.5rem;
        margin: 0 0 23px;
      }

      ul {
        column-gap: 0;
        row-gap: 20px;
        flex-wrap: wrap;
        margin: 0 -10px;

        li {
          width: calc(50% - 20px);
          margin: 0 10px;
          padding: 7px 5px;
          border-width: 2px;
          border-radius: 20px;
          font-size: 14px;
          min-height: 72px;
        }
      }
    }

    .cite {
      padding: 144px 0 60px;

      &:before {
        height: 516px;
        width: 516px;
        filter: blur(100px);
        transform: translate3d(-50%, -306px, 0);
      }

      &:after {
        width: 23px;
        height: 23px;
        left: 45px;
        bottom: auto;
        top: 127px;
      }

      .inner {
        background-size: 123px auto;
        padding: 74px 0 0;

        &:after {
          width: 23px;
          height: 23px;
          right: 63px;
          top: auto;
          bottom: 17px;
        }
      }

      blockquote {
        font-size: 1.5rem;
      }
    }
  }
}
