.screen-06 {
  position: relative;
  min-height: 100vh;
  color: #fff;
  padding: 14px 0 85px;

  .elements {
    .el {
      position: absolute;
      z-index: 2;

      img {
        display: block;
        height: auto;
      }

      &.el-01 {
        left: 3.8vw;
        top: 17.4vh;

        img {
          width: 35px;
        }
      }
      &.el-02 {
        left: 7.5vw;
        bottom: 18vh;
      }
      &.el-03 {
        left: 33.9vw;
        bottom: 7.2vh;
      }
      &.el-04 {
        right: 5.6vw;
        top: 13.4vh;
      }

      &.el-05 {
        right: 2.8vw;
        bottom: 11.5vh;

        img {
          width: 35px;
        }
      }
    }
  }

  .progress {
    display: none;
  }

  .steps {
    width: 100%;
    height: 32px;
    position: relative;
    padding: 0 0 0 41px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    margin: 0 0 15.2vh;

    &:before {
      content: "";
      background-color: #fff;
      width: 100%;
      height: 6px;
      border-radius: 6px;
      position: absolute;
      left: 0;
      top: 13px;
    }

    .step {
      display: block;
      position: relative;
      z-index: 2;

      &.active {
        position: relative;

        &:before {
          content: "";
          background-color: #f24eb6;
          width: 100vw;
          height: 6px;
          border-radius: 6px;
          position: absolute;
          right: 50%;
          top: 13px;
        }
        svg {
          path {
            fill: #f24eb6;
          }
        }
      }
    }
  }

  .container {
    .row {
      display: flex;
      margin: 0 -20px;
      row-gap: 20px;

      .col {
        width: 50%;
        padding: 0 20px;

        &:last-child {
          display: flex;
          justify-content: flex-end;
          padding-top: 13px;
        }
      }
    }
  }

  h3 {
    margin: 0 0 0.625em;
  }

  p {
    margin: 0;
    font-size: 0.833rem;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 17px;

    li {
      text-align: center;

      a {
        display: inline-flex;
        align-items: center;
        text-align: center;
        padding: 17px 37px;
        background: #ffffff;
        border: 3px solid #0a0517;
        border-radius: 80px;
        font-weight: 500;
        font-size: 1.333rem;
        line-height: 1.25;
        color: #0a0517;
        text-decoration: none;

        &:hover {
          background-color: #cbc7f7;
        }
      }
    }
  }

  @include media-breakpoint-down(xxl) {
    padding: 41px 0 0;
    .elements {
      .el {
        &.el-01 {
          left: 7.7vw;
          top: 19vh;
          img {
            width: 24px;
          }
        }
        &.el-02 {
          left: 11vw;
          img {
            width: 46px;
          }
        }
        &.el-03 {
          left: 35.5vw;
          img {
            width: 46px;
          }
        }
        &.el-04 {
          right: 8vw;
          top: 15vh;
          img {
            width: 46px;
          }
        }

        &.el-05 {
          right: 5.4vw;
          bottom: 13vh;

          img {
            width: 24px;
          }
        }
      }
    }
    .steps {
      height: 24px;
      padding: 0 0 0 28px;
      margin: 0 0 15vh;

      &:before {
        height: 4px;
        top: 10px;
      }

      .step {
        svg {
          display: block;
          width: 24px;
          height: auto;
        }
        &.active {
          &:before {
            height: 4px;
            top: 10px;
          }
        }
      }
    }
    .container {
      .row {
        .col {
          width: 43%;
          &:first-child {
            width: 57%;
          }
          &:last-child {
            justify-content: center;
          }
        }
      }
    }
    h3 {
      font-size: 1.89rem;
    }
    p {
      font-size: 14px;
    }
    ul {
      row-gap: 10px;
      li {
        a {
          font-size: 0.944rem;
          padding: 0.55em 0.9em;
        }
      }
    }
  }

  @include media-breakpoint-down(lg) {
    padding: 60px 0;

    .elements {
      display: none;
    }

    .container {
      .row {
        .col {
          &:last-child {
            justify-content: center;
            padding-top: 0;
          }
        }
      }
    }

    ul {
      row-gap: 14px;

      li {
        a {
          padding: 10px 15px;
          border-width: 2px;
          border-radius: 40px;
          font-size: 1rem;
        }
      }
    }

    h3 {
      margin: 0 0 10px;
    }

    p {
      font-size: 12px;
      margin: 0 0 26px;
    }
  }

  @include media-breakpoint-down(md) {
    .progress {
      display: block;
      height: 6px;
      border-radius: 6px;
      background-color: rgba(255, 255, 255, 0.6);
      position: relative;
      margin: 0 0 63px;

      .inner {
        height: 100%;
        width: 10%;
        border-radius: 6px;
        background-color: #fff;
      }
    }

    .steps {
      display: none;
    }

    .container {
      .row {
        flex-wrap: wrap;

        .col {
          width: 100% !important;
        }
      }
    }
  }
}
