.screen-05 {
  position: relative;
  padding: 70px 0 0;

  &.fp-noscroll .fp-overflow {
    height: 100%;
  }

  &:before,
  &:after {
    content: "";
    background: url(../img/bg/gradient.png) no-repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 61vh;
    background-size: cover;
  }

  &:after {
    right: 0;
    transform: scaleX(-1);
  }

  .container {
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
  }

  h2 {
    text-align: center;
    color: #0a0517;
    margin: auto 0 35px;
  }

  .elements {
    .el {
      position: absolute;
      z-index: 2;

      img {
        display: block;
        height: auto;
      }

      &.el-01 {
        left: 46px;
        top: 41px;
      }
      &.el-02 {
        left: 92px;
        top: 155px;

        img {
          width: 44px;
        }
      }
      &.el-03 {
        right: 117px;
        top: 126px;
      }
      &.el-04 {
        right: 15.7vw;
        bottom: 97px;

        img {
          width: 44px;
        }
      }
    }
  }

  .cards {
    .row {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -10px;

      .col {
        width: 33.3333%;
        padding: 30px 10px 0;
      }
    }

    .card {
      height: 100%;
      height: 10.417rem;
      max-height: 250px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      color: #fff;
      font-size: 1.333rem;
      line-height: 1.15;
      padding: 0 6.6%;
      background-color: #652feb;
      border: 3px solid #0a0517;
      border-radius: 40px;
      cursor: pointer;
      transition: all 0.5s;

      p {
        margin: 0;
      }

      &:hover {
        background-color: #0a0517;
        border-color: #652feb;
        border-radius: 120px;
      }
    }
  }

  .image {
    padding: 40px 10vw 0;
    margin-top: auto;

    img {
      display: block;
      width: 100%;
      max-width: 722px;
      height: auto;
      margin: auto;
    }
  }

  @include media-breakpoint-down(xxl) {
    padding: 0;

    .elements {
      .el {
        &.el-01 {
          left: 40px;
          top: 52px;
          img {
            width: 55px;
          }
        }
        &.el-02 {
          left: 72px;
          top: 135px;

          img {
            width: 32px;
          }
        }
        &.el-03 {
          right: 48px;
          top: 114px;
          img {
            width: 41px;
          }
        }
        &.el-04 {
          right: 21.5vw;
          bottom: 26px;

          img {
            width: 32px;
          }
        }
      }
    }

    h2 {
      font-size: 1.98rem;
      margin-bottom: 0.8em;
    }

    .cards {
      .card {
        height: 8.5rem;
        max-height: 150px;
        font-size: 1rem;
      }
    }
    .image {
      padding-left: 13.2vw;
      padding-right: 13.2vw;
    }
  }

  @include media-breakpoint-down(lg) {
    &:before,
    &:after {
      display: none;
    }

    .elements {
      .el {
        &.el-01,
        &.el-02,
        &.el-03 {
          display: none;
        }
        &.el-04 {
          right: 21px;
          bottom: 129px;

          img {
            width: 23px;
          }
        }
      }
    }
  }

  @include media-breakpoint-down(md) {
    padding: 40px 0 0;

    h2 {
      margin-bottom: 10px;
    }

    .cards {
      .row {
        .col {
          width: 100%;
          padding: 16px 10px 0;
          opacity: 0;
          transform: translateY(50px);
        }
      }

      .card {
        height: 70px;
        font-size: 1rem;
        padding: 10px 17px;
        border-width: 2px;
        border-radius: 16px;

        &:hover {
          background-color: #652feb;
          border-color: #0a0517;
          border-radius: 16px;
        }
      }
    }

    .image {
      display: block;
      padding: 42px 0 0;
      margin: 0 -15px;
    }
  }

  @media (min-width: 1601px) and (max-height: 1000px) {
    .cards {
      .card {
        max-height: 200px;
      }
    }
  }
}

.less-height {
  @include media-breakpoint-down(lg) {
    .screen-05 {
      padding: 0;

      h2 {
        font-size: 30px;
        margin-bottom: 0px;
      }

      .cards {
        .row {
          .col {
            padding: 10px 10px 0;
          }
        }

        .card {
          height: auto;
          font-size: 15px;
          padding: 7px 10px;
        }
      }

      .image {
        padding: 30px 0 0;
      }
    }
  }
}
