.screen-02 {
  --cursor: #652feb;

  color: #fff;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  &.fp-noscroll .fp-overflow {
    overflow: visible !important;
  }

  .container {
    width: 100%;
    position: relative;
    max-width: 1480px;
    text-align: center;
    padding: 0;
    margin: 0;

    .inner {
      padding: 50px;
      position: relative;
      z-index: 5;
    }

    p {
      margin: 2.5em 0 0;
    }

    h2 {
      margin: 0 0 23px;
    }

    .text-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      @extend .h2;

      span {
        display: inline-block;
        padding-top: 5px;
        padding-bottom: 21px;
        line-height: 1;
        margin: 0 7px;

        &.text {
          background: #0a0517;
          border: 2px solid #652feb;
          border-radius: 60px;
          padding-left: 26px;
          padding-right: 26px;
          cursor: default;
        }
      }
    }
  }

  .tooltip {
    position: absolute;
    display: none;
    font-size: 16px;
    padding: 4px 16px;
    background: #ffffff;
    border-radius: 40px;
    z-index: 9;
    color: #0a0517;
  }

  .bg {
    @include abs(50%, 50%, 0, 0);
    background-color: #000;
    background-image: radial-gradient(81.17% 81.17% at 50% 0%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
    background-size: cover;
    transform: translate3d(-50%, -50%, 0);
    width: 100%;
    height: 100%;
    z-index: 0;
    border-radius: 40px;
  }

  .elements {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100vw;
    height: 100vh;
    transform: translate3d(-50%, -50%, 0);
    z-index: 2;
    opacity: 0;

    .el {
      position: absolute;
      z-index: 2;

      img {
        display: block;
        height: 100%;
        width: auto;
      }

      &.el-01 {
        left: 35.5%;
        top: 11%;
        height: 11%;
      }
      &.el-02 {
        left: 10%;
        top: 25.8%;
        height: 4%;
      }
      &.el-03 {
        left: 6.4%;
        bottom: 18%;
        height: 7%;
      }
      &.el-04 {
        left: 22.3%;
        bottom: 18%;
        height: 6.6%;
      }
      &.el-05 {
        right: 21.1%;
        top: 16%;
        height: 6%;
      }
      &.el-06 {
        right: 7.9%;
        top: 21.6%;
        height: 7.2%;
      }
      &.el-07 {
        right: 8.3%;
        bottom: 17.2%;
        height: 12.4%;
      }
      &.el-08 {
        right: 25.5%;
        bottom: 19.5%;
        height: 4.5%;
      }
    }
  }

  @include media-breakpoint-between(xl, xxl) {
    .container {
      .inner {
        padding: 80px 50px;
      }
      p {
        font-size: 0.94rem;
        margin: 2em 0 0;
      }
      h2 {
        font-size: 2.266rem;
        margin: 0 0 0.625em;
      }
      .text-wrapper {
        span {
          margin: 0 5px;

          &.text {
            font-size: 2.266rem;
            padding-left: 20px;
            padding-right: 20px;
          }
        }
      }
    }
  }

  @include media-breakpoint-down(lg) {
    .container {
      margin: 0 20px;
      width: auto;

      .inner {
        padding: 10.3vh 14px;
      }

      p {
        margin: 10px 0 0;
      }

      h2 {
        margin: 0 0 30px;
      }

      .text-wrapper {
        display: flex;
        flex-direction: column;

        span {
          padding: 5px 26px 13px;
          margin: 0 0 20px;

          &:last-child {
            margin: 0;
          }

          &.divider {
            display: none;
          }
        }
      }
    }

    .tooltip {
      display: none !important;
    }

    .bg {
      @include abs(50%, 50%, 0, 0);
      background-color: #0b0618;
      background-image: none;
      border-radius: 0 !important;
      overflow: hidden;

      &:after {
        content: "";
        width: 147vw;
        height: 147vw;
        background: #652feb;
        filter: blur(150px);
        border-radius: 70vw;
        @include abs(50%, 100%, 0, auto);
        transform: translate3d(-50%, -35%, 0);
      }
    }

    .elements {
      display: none;
    }
  }

  @include media-breakpoint-down(md) {
    .bg {
      height: 110vh;
      width: 110vw;
      background-image: radial-gradient(81.17% 81.17% at 50% 0%, rgba(68, 32, 158, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
    }

    h2,
    .text-wrapper span,
    p {
      opacity: 0;
      transform: translateY(50px);
    }
  }
}
