.screen-07 {
  position: relative;
  min-height: 100vh;
  color: #0a0517;
  padding: 0;

  .fp-overflow {
    height: 100%;
  }

  .container {
    display: flex;
    transition: all 0.2s;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    &.active {
      top: 0;
      transform: translateY(0);
    }
  }

  .elements {
    .el {
      position: absolute;
      z-index: 2;

      img {
        display: block;
        height: 100%;
        width: auto;
      }

      &.el-01 {
        right: 7vw;
        top: 4.5vh;
        height: 18vh;
      }
    }
  }

  .accordion {
    padding: 50px 0;
    .item {
      border-bottom: 3px solid #0a0517;

      &:last-child {
        border: none;
      }

      .item-header {
        button {
          font-size: 2rem;
          line-height: 1.1;
          height: 2.46em;
          display: flex;
          align-items: center;
          background: none;
          border: none;
          border-radius: 0;
          box-shadow: none;
          outline: none;
          font-weight: 600;
          text-transform: uppercase;
          padding: 0 0.52em;
          text-align: left;

          width: 100%;
          position: relative;

          span {
            transition: all 0.2s;
            text-shadow: 0 0 #000;
          }

          &:before {
            content: "";
            background: url(../img/icons/star-dark.svg) no-repeat;
            background-size: cover;
            width: 1.146em;
            height: 1.146em;
            margin-right: 0.9375em;
            transition: transform 0.3s ease;
            flex: 0 0 auto;
          }

          &:hover {
            span {
              text-shadow: 0px 0px 1.5px #000, 0px 0px 1.5px #000;
            }
          }
        }
      }

      .item-body {
        display: none;
        line-height: 1.5;
        padding: 0 13vw 6.2vh 5.2em;

        p,
        ul {
          margin: 0 0 10px;

          &:last-child {
            margin: 0;
          }
        }

        ul {
          padding: 0;
          list-style: none;

          li {
            padding: 0 0 0 35px;
            background: url(../img/icons/star-dark.svg) 9.5px 8px no-repeat;
            background-size: 17px auto;
          }
        }
      }

      &.active {
        .item-header {
          button {
            &:before {
              transform: rotate(-45deg);
            }
          }
        }
      }
    }
  }

  .container {
    // max-height: 100%;
    // overflow: auto;
    // -ms-overflow-style: none;
    // scrollbar-width: none;

    // &::-webkit-scrollbar {
    //   display: none;
    // }
  }

  @include media-breakpoint-down(xxl) {
    .elements {
      .el {
        &.el-01 {
          right: 9.5vw;
          top: 4vh;
        }
      }
    }
    .accordion {
      .item {
        .item-header {
          button {
            font-size: 1.6rem;
            height: 2.8em;
            padding: 0 0.35em;

            &:after {
              left: 2.43em;
              right: 0.35em;
            }
          }
        }
      }
    }
  }

  @include media-breakpoint-down(lg) {
    min-height: 0;
    padding: 100px 0 34px;

    .elements {
      .el {
        &.el-01 {
          right: 20px;
          top: 12px;
          height: 88px;
        }
      }
    }

    .accordion {
      .item {
        border-bottom-width: 2px;

        .item-header {
          button {
            font-size: 1.5rem;
            height: auto;
            padding: 19px 0;
            align-items: flex-start;

            &:before {
              width: 21px;
              height: 21px;
              margin-right: 9px;
              margin-top: 2px;
            }

            &:after {
              left: 30px;
              right: 0;
            }
          }
        }

        .item-body {
          line-height: 1.35;
          padding: 0 0 40px 30px;

          ul {
            li {
              padding: 0 0 0 22px;
              background-position: 2px 6px;
              background-size: 12px auto;
            }
          }
        }
      }
    }
  }
}
