.screen-06 {
  position: relative;
  color: #fff;
  --bg: #652feb;
  --step: #f24eb6;
  --step-start: #fff;

  .elements {
    .el {
      position: absolute;
      z-index: 2;

      img {
        display: block;
        height: auto;
      }

      &.el-01 {
        left: 3.8vw;
        top: 17.4vh;

        img {
          width: 35px;
        }
      }
      &.el-02 {
        left: 7.5vw;
        bottom: 18vh;
      }
      &.el-03 {
        left: 33.9vw;
        bottom: 7.2vh;
      }
      &.el-04 {
        right: 5.6vw;
        top: 13.4vh;
      }

      &.el-05 {
        right: 2.8vw;
        bottom: 11.5vh;

        img {
          width: 35px;
        }
      }
    }
  }

  .test-progress {
    position: absolute;

    .steps {
      .step {
        &.active {
          svg {
            path {
              fill: $white;
            }
          }
        }
      }

      .steps-progress {
        .inner {
          width: 0;
        }
      }
    }
  }

  .text {
    margin: 0 0 56px;
  }

  ul {
    padding: 0;
    list-style: none;
    display: flex;
    margin: 0 -40px;

    li {
      padding: 0 40px;
      width: 100%;

      a {
        display: block;
        cursor: pointer;
        position: relative;
        z-index: 9;

        & > span {
          display: block;
          text-align: center;
          font-family: $ff-kaisei;
          font-weight: 700;
          font-size: 28px;
          line-height: 1.5;

          figure {
            margin: 0 0 4px;
            padding: 15px 0 0;
            display: flex;
            background: #ffffff;
            border: 3px solid #1d1d1b;
            border-radius: 40px;
            height: 28.57vh;
            align-items: flex-end;
            justify-content: center;
            overflow: hidden;
            transition: all 0.3s;
          }

          img {
            display: block;
            max-width: 100%;
            max-height: 100%;
            width: auto;
            height: auto;
          }
        }

        &:hover {
          & > span {
            figure {
              border-radius: 200px;
            }
          }
        }
      }

      &:nth-child(2) {
        a {
          & > span {
            figure {
              padding: 15px;
              align-items: center;
            }
          }
        }
      }
    }
  }

  h3 {
    margin: 0 0 0.625em;
  }

  p {
    margin: 0;
    font-size: 0.833rem;
  }

  @include media-breakpoint-down(xxl) {
    .elements {
      .el {
        &.el-01 {
          left: 7.7vw;
          top: 19vh;
          img {
            width: 24px;
          }
        }
        &.el-02 {
          left: 11vw;
          img {
            width: 46px;
          }
        }
        &.el-03 {
          left: 35.5vw;
          img {
            width: 46px;
          }
        }
        &.el-04 {
          right: 8vw;
          top: 15vh;
          img {
            width: 46px;
          }
        }

        &.el-05 {
          right: 5.4vw;
          bottom: 13vh;

          img {
            width: 24px;
          }
        }
      }
    }

    h3 {
      font-size: 1.89rem;
    }
    p {
      font-size: 14px;
    }
  }

  @include media-breakpoint-down(xl) {
    ul {
      margin: 0 -20px;

      li {
        padding: 0 20px;
      }
    }
  }

  @include media-breakpoint-down(lg) {
    .elements {
      display: none;
    }

    h3 {
      margin: 0 0 10px;
    }

    p {
      font-size: 12px;
      margin: 0 0 26px;
    }

    .text {
      transform: none !important;
    }

    ul {
      li {
      }
    }

    ul {
      li {
        transform: none !important;
        a {
          & > span {
            font-size: 18px;
            figure {
              height: 18.5vh;
              margin: 0 0 -4px;
            }
          }
        }
      }
    }
  }

  @include media-breakpoint-down(md) {
    h3 {
      font-size: 1.5rem;
    }
  }

  @media (orientation: landscape) and (max-height: 650px) {
    .test-progress {
      position: static;
      margin: 20px;
    }
  }
}

.less-height {
  @include media-breakpoint-down(md) {
    .screen-06 {
      .progress {
        margin: 0 0 30px;
      }

      h3 {
        font-size: 1.5rem;
      }

      p {
        margin: 0;
      }
    }
  }
}
