.test-step {
  &--type2 {
    position: relative;

    .test-final {
      position: fixed;
      left: 50%;
      top: 50%;
      transform: translate3d(-50%, -50%, 0);
      z-index: -1;

      svg {
        opacity: 0;
        transform: scale(0);
      }
    }

    .test-options {
      width: 755px;
      position: fixed;
      left: 11.46vw;
      bottom: 11.2vh;
      z-index: 9999;

      ul {
        column-gap: 20px;
        font-size: 20px;
        text-align: center;

        li {
          width: 135px;

          label {
            color: #454fdb;

            input {
              &:checked {
                & + span {
                  z-index: 999;

                  figure {
                    lottie-player {
                      opacity: 0;
                      transition: opacity 0.1s;
                      transition-delay: 0.7s;
                    }
                    & > svg {
                      opacity: 1;
                      transition: opacity 0.1s;
                      transition-delay: 0.7s;
                    }
                  }
                }
              }
            }

            span {
              padding: 130px 0 0;
            }
          }

          figure {
            position: absolute;
            width: 210px;
            height: 100px;
            left: -37.5px;
            top: 0;
            margin: 0;
            transform-origin: center bottom;

            lottie-player {
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate3d(-50%, -50%, 0);

              svg path {
                fill: #cbc7f7;
              }
            }

            & > svg {
              opacity: 0;
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate3d(-50%, -50%, 0);
              height: 106%;
              width: auto;
            }
          }
        }
      }

      .disabled {
        ul {
          li,
          label {
            pointer-events: none;
          }
        }
      }
    }

    .test-scroller {
      width: 66%;

      ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          padding: 96px 0 0 0;
          position: relative;
          height: calc(93vh - 75px);
          color: #454fdb;

          .image {
            display: none;
          }

          h3 {
            font-size: 2rem;
            line-height: 1.35;
            filter: blur(6.5px);
            transition: all 0.5s;
            margin: 0 0 20px;

            span {
              display: inline-block;
              padding: 0 0.4em;
              position: relative;

              &:before {
                content: "";
                border: 2px solid #454fdb;
                border-radius: 40px;
                position: absolute;
                left: 0;
                right: 0;
                top: 1px;
                height: 1.46em;
              }
            }
          }

          & > span {
            display: block;
            font-size: 0.833rem;
          }

          &.active {
            h3 {
              filter: blur(0px);
            }
          }
        }
      }
    }

    .images-scroller {
      width: 50vw;
      position: absolute;
      top: 0;
      right: -11.46vw;
      height: 100vh;
      overflow: auto;
      -ms-overflow-style: none;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }

      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        height: 100%;

        li {
          height: 100%;

          .image {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            position: relative;

            &:before,
            &:after {
              content: "";
              position: absolute;
              background: url(../img/icons/star-blue-test.svg) 0 / cover no-repeat;
              z-index: 2;
            }

            img {
              display: block;
              height: auto;
            }
          }
        }
      }
    }

    @include media-breakpoint-up(xl) {
      &:before {
        content: "";
        background: url(../img/icons/star-blue-test.svg) 0 / cover no-repeat;
        width: 40px;
        height: 40px;
        position: absolute;
        left: 6.2vw;
        top: 51vh;
      }
    }

    @include media-breakpoint-up(xxl) {
      &:before {
        width: 69px;
        height: 69px;
      }
    }

    @include media-breakpoint-down(xxl) {
      .test-options {
        bottom: 40px;
        width: 580px;
        left: 13.2vw;

        ul {
          row-gap: 0;
          font-size: 14px;

          li {
            width: 100px;
            label {
              span {
                padding: 110px 0 0;
              }
            }
            figure {
              width: 170px;
              left: -35px;
            }
          }
        }
      }

      .images-scroller {
        width: 46vw;
      }

      .test-scroller {
        ul {
          font-size: 16px;

          li {
            padding: 40px 0 0;
            h3 {
              font-size: 1.5rem;
            }
          }
        }
      }
    }

    @include media-breakpoint-down(xl) {
      .test-options {
        left: 40px;
      }
    }

    @include media-breakpoint-down(lg) {
      opacity: 0;

      .test-options {
        opacity: 0;
        width: auto;
        left: 0;
        right: 0;
        top: auto;
        bottom: 0;

        ul {
          font-size: 0.625rem;
          font-weight: 400;
          max-width: 500px;
          margin: auto;
          justify-content: space-between;
          column-gap: 0;
          padding: 0;

          li {
            width: 80px;

            label {
              text-align: center;

              span {
                padding: 96px 0 0;
                overflow: hidden;
              }
            }

            figure {
              width: 120px;
              height: 68px;
              left: -20px;
              top: 8px;
              margin: 0 auto 19px;
            }
          }
        }

        &.selected {
          ul {
            li {
              label {
                input {
                  &:not(:checked) {
                    & + span {
                      figure {
                        opacity: 0.3;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      .images-scroller {
        display: none;
      }

      .test-scroller {
        width: 100%;

        ul {
          li {
            height: 100vh;
            margin: 0;
            display: flex;
            flex-direction: column;
            padding: 10px 0 0;

            .image {
              display: block;
              margin: 0 0 20px;

              img {
                display: block;
                margin: auto;
                height: auto;
              }
            }

            h3 {
              font-size: 24px;
              line-height: 1.25;
              margin: 0;

              span {
                display: inline;
                padding: 0;
                &:before {
                  display: none;
                }
              }
            }
            & > span {
              margin: 30px 0 0;
            }
          }
        }
      }
    }

    @include media-breakpoint-down(md) {
      .test-final {
        left: 100%;
        top: 100%;
      }

      .test-options {
        ul {
          max-width: 350px;

          li {
            width: 70px;

            figure {
              left: -25px;
            }
          }
        }
      }
    }
  }
}
