@import url("https://fonts.googleapis.com/css2?family=Kaisei+Decol:wght@700&display=swap");

@font-face {
  font-family: "graphik";
  src: url("../fonts/graphikregular-webfont.woff2") format("woff2"), url("../fonts/graphikregular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "graphik";
  src: url("../fonts/graphikmedium-webfont.woff2") format("woff2"), url("../fonts/graphikmedium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "graphik";
  src: url("../fonts/graphiksemibold-webfont.woff2") format("woff2"), url("../fonts/graphiksemibold-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "graphik";
  src: url("../fonts/graphikbold-webfont.woff2") format("woff2"), url("../fonts/graphikbold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "graphik";
  src: url("../fonts/graphikblack-webfont.woff2") format("woff2"), url("../fonts/graphikblack-webfont.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
