.page-footer {
  background-color: #fff;
  border-bottom: 9px solid #0a0517;
  font-size: 14px;
  text-transform: uppercase;
  color: #1d1d1b;

  .container {
    padding: 27px 11.5vw 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    row-gap: 25px;
    max-width: none;
  }

  p {
    margin: 0;

    br {
      display: none;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    row-gap: 15px;
    column-gap: 25px;
  }

  @include media-breakpoint-down(xxl) {
    .container {
      padding: 29px 13.2vw 21px;
    }
  }

  @include media-breakpoint-down(xl) {
    .container {
      padding: 29px 80px 21px;
    }
  }

  @include media-breakpoint-down(lg) {
    .container {
      padding: 29px 40px 21px;
    }
  }

  @include media-breakpoint-down(md) {
    line-height: 1.25;

    .container {
      padding: 18px 20px;
      flex-direction: column-reverse;
    }
  }

  @include media-breakpoint-down(sm) {
    font-size: 12px;
    line-height: 0.7;

    .container {
      padding: 22px 20px 21px;
    }
  }
}
