html {
  font-size: calc(16px + (24 - 16) * ((100vw - 375px) / (1900 - 375)));

  @include media-breakpoint-up(xxxl) {
    font-size: 24px;
  }
}

body {
  color: $text-color;
  font-family: $font-family-base;
  font-size: 1rem;
  line-height: 1.25;
  font-weight: 400;
}

input,
select,
textarea,
button {
  font-family: $font-family-base;
}

h1,
.h1 {
  font-family: $ff-kaisei;
  font-weight: 700;
  font-size: 4.83rem;
  line-height: 1;
  margin: 0;

  @include media-breakpoint-down(xxl) {
    font-size: 4rem;
  }

  @include media-breakpoint-down(lg) {
    font-size: 2.875rem;
  }
}

h2,
.h2 {
  font-family: $ff-kaisei;
  font-weight: 700;
  font-size: 2.83rem;
  line-height: 1.25;
  margin: 0;

  @include media-breakpoint-down(xxl) {
    font-size: 2.5rem;
  }

  @include media-breakpoint-down(lg) {
    font-size: 2.375rem;
  }
}

h3,
.h3 {
  font-family: $ff-kaisei;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.25;
  margin: 0;

  @include media-breakpoint-down(lg) {
    font-size: 1.5rem;
  }
}
