// Fonts
$font-family-base: "graphik", sans-serif;
$ff-kaisei: "Kaisei Decol", serif;
$ff-opensans: "Open Sans", sans-serif;

// Colors
$white: #fff;
$black: #000;

$primary: #b9ff1f;
$primary-light: #84bf00;

$text-color: $white;

$red: #fe0100;
$green: #b9ff1f;
$yellow: #e9cc14;

$orange: #fe5122;
$orange-text: #fe5122;
$pink: #ff99c2;
$pink-text: #f24eb6;
$blue-res: #949af6;
$blue-text: #685de7;
$yellow-res: #ffd583;
$yellow-text: #f59e0c;

$placeholder-color: $text-color;
$error: $orange;

// Container

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
  xxl: 1600px,
  xxxl: 1920px,
);
